<div class="create-datasource-popup-container">
  <div class="item-a">
    <div class="popup-title">{{this.dataSource ? 'Update Data Source' : 'Add Data Source'}}</div>
    <div (click)="onClosePopup()" class="icon-star close-div">
      <i class="fulldetail-close-button" title="Back">
        <svg viewBox="0 792 2048 2048" class="svg-icon  -id-K">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#K"></use>
        </svg>
      </i>
    </div>
    <nz-alert  *ngIf ="_sherlockRole===''" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
          <span  alert-body>
              <pre class="notification">Read-only for Projects Users.</pre>
          </span>
    </nz-alert> 
    <nz-alert  *ngIf ="_sherlockRole !=='' && context ==='project'" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span  alert-body>
            <pre class="notification">Read-only.</pre>
        </span>
  </nz-alert> 
  </div>

  <div class="item-a2">
    <div class="steps-div">
      <nz-steps [(nzCurrent)]="current">
        <nz-step [nzTitle]="'General'"></nz-step>
        <nz-step [nzTitle]="'Data Extraction'"></nz-step>
        <nz-step [nzTitle]="'Attributes'"></nz-step>
      </nz-steps>
    </div>
  </div>
  <div *ngIf="isLoading" class="item-b" style="height:135px;align-items: center">
      <nz-spin></nz-spin>
  </div>
  <div class="item-b">
    <div class="content">
      <div *ngIf="current === 0 && !isLoading">
        <div style="font-weight: bold;">Data Source</div>
        <div class="input-group">
          <div class="content-subtitle">Type</div>
          <div style="margin-left: 26px">
            <nz-radio-group [(ngModel)]="sensorType">
              <div style="margin-top: 10px">
                <label [nzDisabled]="context === 'project' || _sherlockRole === ''" nz-radio [nzValue]="'Sensor'">
                  <span>Sensor</span>
                </label>
              </div>
              <div style="margin-top: 6px; margin-left:26px; font-size: 11px; color: #999999;">Some description about sensor</div>
              <div style="margin-top: 10px">
                <label [nzDisabled]="context === 'project' || _sherlockRole === ''" nz-radio [nzValue]="'Gateway'">
                  <span>Gateway</span>
                </label>
              </div>
              <div style="margin-top: 6px; margin-left:26px; font-size: 11px; color: #999999;">Some description about gateway</div>

            </nz-radio-group>
          </div>
        </div>
        <div class="input-group">
          <div class="content-subtitle">Name</div>
          <input [disabled]="context === 'project' || _sherlockRole === ''" type="text" [(ngModel)]="dataSourceName" [ngClass]="{'error-border': duplicateDatasourceNameFound}" placeholder="e.g. my-temp-sensor" (ngModelChange)="checkDuplicates('dsName', dataSourceName)">
          <div *ngIf="duplicateDatasourceNameFound" class='error-style' style="margin: 5px 0 5px 10px;">
              Name already exists. Please enter a new name.
          </div>
        </div>
        <div class="input-group">
          <div class="content-subtitle">Associated edge</div>
          <div>
            <select [disabled]="context === 'project' || _sherlockRole === ''" [(ngModel)]="edgeId" (change)="onEdgeSelectionChange()" [disabled]="isUpdate" style="width: 100%; margin-top: 5px; border: 1px solid #cccccc;">
                <option value="" disabled [selected]="edgeId === ''">Select...</option>
              <option *ngFor="let e of edges" value="{{e.id}}" [selected]="edgeId === e.id">{{e.name}}</option>
            </select>
          </div>
          <div class="select-spacer"></div>
        </div>
        <div class="input-group">
          <div class="content-subtitle">Protocol</div>
          <div>
            <select [disabled]="context === 'project' || _sherlockRole === ''" [(ngModel)]="sensorProtocol" (ngModelChange)="onSensorProtocolChange()" style="width: 100%; margin-top: 5px; border: 1px solid #cccccc;">
              <!-- <option value="" disabled selected>Please Select</option> -->
              <option value="MQTT" [selected]="sensorProtocol === 'MQTT'">MQTT</option>
              <option value="RTSP" [selected]="sensorProtocol === 'RTSP'">RTSP</option>
              <!--<option value="OTHER" [selected]="sensorProtocol === 'OTHER'">Other</option>-->
            </select>
          </div>
          <div class="select-spacer"></div>
        </div>
        <div class="input-group">
          <div class="content-subtitle">Authentication Type</div>
          <div>
            <select [disabled]="context === 'project' || _sherlockRole === ''" [(ngModel)]="sensorAuth" style="width: 100%; margin-top: 5px; border: 1px solid #cccccc;">
              <!-- <option value="" disabled selected>Please Select</option> -->
              <option value="CERTIFICATE" [selected]="sensorAuth === 'CERTIFICATE'" [disabled]="sensorProtocol !== 'MQTT'">Certificates</option>
              <option value="PASSWORD" [selected]="sensorAuth === 'PASSWORD'" [disabled]="sensorProtocol !== 'RTSP'">Username and Password</option>
              <option value="TOKEN" [selected]="sensorAuth === 'TOKEN'" disabled>Authentication Tokens</option>
            </select>
          </div>
          <div class="select-spacer"></div>
        </div>
        <div *ngIf="sensorAuth === 'CERTIFICATE'" class="input-group">
          <div>
            Certificates are required to authenticate the connection between your data source and Edge. Kindly generate and download
            these certificates.
          </div>
          <div *ngIf="!generatedCertificate" class="center-container">
            <div *ngIf="!generatingCertificate" class="center-item">
              <div>No Certificates detected.</div>
              <div style="margin-top: 20px">
                <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickGenerateCertificate()">
                  <i class="anticon anticon-plus"></i>
                  <span>Generate Certificates</span>
                  <div *ngIf="generatingCertificate"><nz-spin></nz-spin></div>
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="generatingCertificate" class="center-container">
              <div class="center-item">
                  <div><nz-spin></nz-spin></div>
              </div>
          </div>
          <div *ngIf="generatedCertificate" style="margin-top:20px; padding:20px; border: 1px solid #cccccc; border-radius: 4px;">
            <div style="display: flex;">
              <div>Certificate09112001</div>
              <div class="flex-spacer"></div>
              <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickDownloadCertificate()">
                <i class="anticon anticon-plus"></i>
                <span>Download</span>
              </button>
            </div>

            <div>Serial Number or Timestamp</div>
            <div>This package contains the following keys and certificates.</div>
            <div>
              <ul class="bullet-list">
                <li>Private Key</li>
                <li>Public Key</li>
                <li>Sensor certificate</li>
                <li>Root CA certificate</li>
              </ul>
            </div>
          </div>
        </div>
        <div *ngIf="sensorAuth === 'PASSWORD'" class="input-group">

          <div>Credentials are required to authentication the connection between your data sources and Edge.
          </div>
       
          <div *ngIf= "sensorAuth === 'PASSWORD'" class="input-group">
            <div class="content-subtitle">IP Address</div>
            <div [ngClass] = "context === 'project' || _sherlockRole === '' ? 'disableinputs' : ''" class="ip-input" type="text" [ngStyle]="{'box-shadow': dsIP1.error || dsIP2.error || dsIP3.error || dsIP4.error ? ' #f04134 0px 0px 0px 0px inset, rgba(34,165,247,0.15) 4px 2px 1px inset, #f04134 0px 0px 0px 1px':'none','border': dsIP1.error || dsIP2.error || dsIP3.error || dsIP4.error ? 'none' : 'solid 1px #b8bfca'}">
              <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="dsIP1.num" (ngModelChange)="validateIP(dsIP1,'ip')" type="text">
              <p class="ip-subInput-dot">.</p>
              <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="dsIP2.num" (ngModelChange)="validateIP(dsIP2,'ip')"  type="text">
              <p class="ip-subInput-dot">.</p>
              <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="dsIP3.num" (ngModelChange)="validateIP(dsIP3,'ip')"  type="text">
              <p class="ip-subInput-dot">.</p>
              <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="dsIP4.num" (ngModelChange)="validateIP(dsIP4,'ip')"  type="text">
            </div>
          </div>
          <div class="input-group">
            <div class="content-subtitle">User Name</div>
            <div>
              <div>
                <input [disabled]="context === 'project' || _sherlockRole === ''" type="text" [(ngModel)]="username">
              </div>
            </div>
          </div>
          <div *ngIf="username !== ''" class="input-group">
            <div class="content-subtitle">Password</div>
            <div>
              <div>
                <input [disabled]="context === 'project' || _sherlockRole === ''" type="password" *ngIf="!showPassword" [(ngModel)]="password">
                <input [disabled]="context === 'project' || _sherlockRole === ''" type="text" *ngIf="showPassword" [(ngModel)]="password">
                <label nz-checkbox [(ngModel)]="showPassword" class="password">
                  <span>{{showPassword ? 'Hide' : 'Show'}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="current === 1">
        <div>
          Configure the fields that will be extracted from this data source.
        </div>
        <div nz-row style="margin-top: 40px;">
          <div nz-col [nzSpan]="6">
            List of Fields ({{fields.length}})
          </div>
          <div nz-col [nzSpan]="12">
          </div>
          <div nz-col [nzSpan]="6">
            <div style="float:right;">
              <a *ngIf ="context !== 'project' &&  _sherlockRole !== ''" (click)="onClickAddNewField()" style="margin-left: 10px;">Add New Field</a>
            </div>
          </div>
        </div>
        <div class="table-container">
          <nz-table #nzTable [nzDataSource]="fields" [nzIsPagination]="false" [nzCustomNoResult]="true" (nzDataChange)="_displayDataChange($event)"
            (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
            <thead nz-thead>
              <tr>
                <th nz-th [nzWidth]="'41%'">
                  <span>Name</span>
                </th>
                <th nz-th [nzWidth]="'49%'">
                  <span>{{sensorProtocol === 'RTSP' ? 'RTSP URL' : 'MQTT Topic'}}</span>
                </th>
                <th nz-th [nzWidth]="'10%'">
                  <span></span>
                </th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr [ngClass] ="editRow===data.key ? 'topicRows' : ''" nz-tbody-tr (click)="context === 'project' || _sherlockRole === '' ?  false : clickFieldRow(data)" *ngFor="let data of nzTable.data">
                <td class="topicNameColumn" nz-td [ngStyle]="{'padding': '0'}" [ngClass]="editRow !== data.key ? 'tdClass': ''">
                  <span *ngIf="editRow!==data.key" [ngStyle]="{'color': data.name ? 'rgba(0, 0, 0, 0.65)' : '#bbbbbb'}">{{data.name || 'Add Name'}}</span>
                  <span *ngIf="editRow===data.key">
                      <input [disabled]="context === 'project' || _sherlockRole === ''" class="editField" style="width: 100%; height: 32px;" [ngClass]="duplicateFieldNameFound ? 'error-border' : ''" [(ngModel)]="tempEditObject[data.key].name" placeholder= "Add Name" (ngModelChange)="checkDuplicates('topicName', tempEditObject[data.key].name)">
                 </span>
                  <span *ngIf="editRow===data.key && duplicateFieldNameFound" class='error-style' style="margin: 5px 0 5px 10px;">Name already exists. Please enter a new Name.</span>
                </td>
                <td  class="topicColumn" nz-td [ngStyle]="{'padding': '0'}">
                  <span *ngIf="editRow!==data.key" [ngStyle]="{'color': data.mqttTopic ? 'rgba(0, 0, 0, 0.65)' : '#bbbbbb'}">{{data.mqttTopic || (sensorProtocol === 'RTSP' ? populatedUrl : 'Add MQTT Topic')}}</span>
                  <span *ngIf="editRow===data.key">
                    <input *ngIf = "sensorProtocol === 'RTSP'" disabled class="url" [placeholder]= "populatedUrl">
                    <input [disabled]="context === 'project' || _sherlockRole === ''"  [ngStyle]="{'width': sensorProtocol === 'RTSP' ? '40%' : '100%'}" class="editField topic" [ngClass]="(duplicateTopicNameFound || invalidTopic) ? 'error-border' : ''" [(ngModel)]="tempEditObject[data.key].mqttTopic" [placeholder]= "sensorProtocol === 'RTSP' ? '' : 'Add MQTT Topic'" (ngModelChange)="checkDuplicates('topic', tempEditObject[data.key].mqttTopic)">
                  </span>
                  <span *ngIf="editRow===data.key && duplicateTopicNameFound" class='error-style topic' style="margin: 5px 0 5px 10px;">Topic already exists. Please enter a new Topic.</span>
                  <span *ngIf="editRow===data.key && invalidTopic" class='error-style topic' style="margin: 5px 0 5px 10px;">Invalid Input. ":, @" are not allowed.</span>
                </td>
                <td class="topicOptionsColumn" nz-td [ngStyle]="{'padding': '0'}">
                  <span *ngIf="editRow===data.key">
                    <button  (click)="cancel($event, data)" nz-button [nzSize]="'small'" [nzShape]="'circle'">
                      <i class="anticon anticon-close"></i>
                    </button>
                    <button style="margin-top:5px;" nz-button [disabled]="duplicateTopicNameFound || duplicateFieldNameFound || !tempEditObject[data.key].name || !tempEditObject[data.key].mqttTopic || invalidTopic"
                      [nzType]="'primary'" [nzSize]="'small'" [nzShape]="'circle'" (click)="save($event, data)">
                      <i class="anticon anticon-check"></i>
                    </button>
                  </span>
                </td>
              </tr>
              
            </tbody>
            <div noResult>No Fields Configured</div>
          </nz-table>
        </div>
      </div>
      <div *ngIf="current === 2">
        <div class="header-text">
          Configure metadata that will be used to identify fields from this data source.
        </div>
        <div class="sub-text">
          Suggested use include attributes like physical location or the unit of a particular field.
        </div>
        <div nz-row style="margin-top: 40px;">
          <div nz-col [nzSpan]="9">
            Select Fields
          </div>
          <div nz-col [nzSpan]="9">
            Attribute
          </div>
        </div>
        <div *ngFor="let attr of attributes; let i = index" nz-row class="attr-row">
          <div nz-col [nzSpan]="8">
            <select [disabled]="context === 'project' || _sherlockRole === ''" class="sel-box" [(ngModel)]="attr.scope" (change)="onChangeScope(attr)">
              <option value="__ALL__" selected>All Fields</option>
              <option *ngIf="fields.length > 1" value="sel">Select Fields...</option>
              <option *ngIf="attr.scopeFields.length" value="selok">{{attr.scopeFields.length}} Fields</option>
            </select>
          </div>
          <div nz-col [nzSpan]="1">
          </div>
          <div nz-col [nzSpan]="7">
            <select [disabled]="context === 'project' || _sherlockRole === ''" class="sel-box" [(ngModel)]="attr.id" (change)="onChangeSelectCategory($event, i)">
              <option value="" disabled selected>Select...</option>
              <option *ngFor="let cat of categories" value="{{cat.id}}">{{cat.name}}</option>
            </select>
          </div>
          <div nz-col [nzSpan]="7">
            <select [disabled]="context === 'project' || _sherlockRole === ''" class="sel-box" [(ngModel)]="attr.value">
              <option value="" disabled selected>Select...</option>
              <option *ngFor="let cv of attr.values" value="{{cv}}">{{cv}}</option>
            </select>
          </div>
          <div nz-col [nzSpan]="1">
            <i *ngIf="attributes.length > 1" (click)="onDeleteAttribute(i)" class="anticon anticon-close attr-close"></i>
          </div>
        </div>
        <div style="margin-top: 15px;">
          <a *ngIf="context !=='project'" (click)="onClickAddAttribute()">Add...</a>
        </div>
      </div>
    </div>
  </div>
  <div class="item-c">
    <button nz-button style="margin-left: 10px;" (click)="onClosePopup()">
      <span>Cancel</span>
    </button>
    <button *ngIf="current !== 0" nz-button style="margin-left: 10px;" style="margin-left: 10px;" (click)="onBack()">
      <span>Back</span>
    </button>
    <button *ngIf="current !== 2" nz-button [disabled]="isNextDisabled()" [nzType]="'primary'" style="margin-left: 10px;" (click)="onNext()">
      <span>Next</span>
    </button>
    <button *ngIf="current === 2" nz-button style="margin-left: 10px;" [disabled]="isCreateDisabled()" [nzType]="'primary'" [nzLoading]="isConfirmLoading"
      (click)="onCreateDataSource()">
      <span>{{isUpdate ? 'Update' : 'Add'}}</span>
    </button>
    
  </div>
</div>
<nz-modal [nzVisible]="isSelectFieldsVisible" [nzTitle]="'Select Fields'" [nzContent]="sfModalContent" [nzFooter]="sfFooterContent"
  [nzOkText]="'OK'" [nzCancelText]="'Cancel'" (nzOnCancel)="handleSelectFieldsCancel()" (nzOnOk)="handleSelectFieldsOk()">
  <ng-template #sfModalContent>
    <div>
      Select the fields that you want to apply metadata to.
    </div>
    <div *ngIf="selectFieldComponent" class="table-container">
      <nz-table #nzSfTable [nzDataSource]="currentAttr.fields" [nzPageSize]="10" (nzDataChange)="selectFieldComponent._displayDataChange($event)"
        (nzPageIndexChange)="selectFieldComponent._refreshStatus()" (nzPageSizeChange)="selectFieldComponent._refreshStatus()">
        <thead nz-thead>
          <tr>
            <th nz-th [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="selectFieldComponent._allChecked" [nzIndeterminate]="selectFieldComponent._indeterminate"
                (ngModelChange)="selectFieldComponent._checkAll($event)">
              </label>
            </th>
            <th nz-th *ngFor="let col of columns">
              <span>{{col}}</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzSfTable.data">
            <td nz-td [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="selectFieldComponent._refreshStatus($event)">
              </label>
            </td>
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.mqttTopic}}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
  <ng-template #sfFooterContent>
    <button nz-button [nzType]="'primary'" [disabled]="isSelectFieldsDisabled()" (click)="handleSelectFieldsOk($event)">
      <span>OK</span>
    </button>
    <button nz-button (click)="handleSelectFieldsCancel($event)">
      <span>Cancel</span>
    </button>
  </ng-template>
</nz-modal>