<div style="padding: 20px; width: calc(100vw - 240px)">
    <div *ngIf="!isLoading && (progress.length === 0 || progress[0].status === 'Acknowledged')" class="center-container">
        <div class="center-item">
            <div>No Updates In Progress</div>
        </div>
    </div>
    <div *ngIf="isLoading" class="center-container">
        <nz-spin></nz-spin>
    </div>
    <div *ngIf="!isLoading && progress.length > 0 && progress[0].status !== 'Acknowledged'">
        <div class="progress-title">
            Updates In Progress
        </div>
        <div nz-row >
            <div nz-col class="progress-card" [nzSpan]="11" *ngFor="let progressEntity of progress" [ngClass]="progressEntity.selected ? 'card-border' : ''">
                <div class="card-row">
                    <span style="color: rgba(0, 0, 0, 0.85)">{{progressEntity.title}}</span>
                    <a (click)="acknowledgeUpdate()" style="float: right;" *ngIf="progressEntity.percentage === '100%'">Done</a>
                </div> 
                <div class="card-row">
                    <div>
                        Update Version: {{progressEntity.version}}
                    </div>
                    <span>Selected Entities: </span>
                    <span class="selectedEntitiesText" [ngClass]="extraText ? '' : 'larger-width'">{{selectedEntitiesText}}</span>
                    <span>{{extraText}}</span>
                    <a (click)="viewEntities()" style="float:right;">
                        view
                    </a>
                </div> 
                <div class="card-row" style="border-bottom:none !important">
                    <div id="progress-box">
                        <span class="progress-box">
                            <span [ngStyle]="{'width': getWidth(progressEntity.percentage)}" class="progress-innerbox">
                            </span>
                        </span>
                        
                        <span style="margin-left: 10px; vertical-align: top; display: inline-block;">
                            {{progressEntity.percentage}}
                        </span>
                    </div>
                    <div>
                        <a *ngIf="progressEntity.status==='Failed'" (click)="viewEntities()">
                            <img src="assets/error.png" class="log-icon">
                            <span>
                                {{progressEntity.status}}
                            </span>
                        </a>
                        <span *ngIf="progressEntity.status==='Upgrading'">
                            <span>
                                Upgrading...
                            </span>
                        </span>                     
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <nz-modal [nzVisible]="showProgress" [nzTitle]="updateTitle" [nzContent]="modalContent"
    (nzOnOk)="OnHideProgress()" [nzOkText]="'Done'" (nzOnCancel)="OnHideProgress()" [nzCancelText]="'Cancel'">
        <ng-template #modalContent>
            <div style="margin: 0 0 10px 0;">
                Here is the list of all the edges being updated.
            </div>
            <div class="modal-container">
                <div class="modal-item">
                    <span class="modal-item-width" style="color: rgba(0, 0, 0, 0.85); width: 300px;">Name</span>
                    <span class="modal-item-width">Progress</span>
                </div>
                <div class="modal-item-container" *ngIf="progress.length > 0">
                    <div *ngFor="let edge of progress[0].edges" class="modal-item">
                        <span class="modal-item-width" style="width: 300px;">{{edge.name}}</span>
                        <span *ngIf="edge.status==='Failed'">
                           Failed
                        </span>
                        <span *ngIf="edge.status!=='Failed'">
                            <span class="progress-box" style="width: 85px; vertical-align: text-bottom; height: 10px;">
                                <span [ngStyle]="{'width': getWidth(edge.progress)}" style="vertical-align: top;  height: 10px;" class="progress-innerbox">
                                </span>
                            </span>
                            <span style="margin-left: 10px; vertical-align: top; display: inline-block;">{{edge.progress}}</span>
                        </span>      
                    </div>
                </div>
            </div>
        </ng-template>
    </nz-modal>
</div>