.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.center-item {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
}

.progress-title{
    font-weight: bold;
    margin: 10px 0;
    font-size: 15px;
}

.progress-card{
    background: white;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    min-width: 400px;
}

.card-row{
   padding: 10px 16px;
   border-bottom: 1px solid #eeeeee;
}

.update-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #ed5c5c;
    color: white;
    padding-top: 1px;
    text-align: center;
}

.update-version{
    color: #9aa5b5;
    display: inline-block;
    margin-left: 10px;
    font-family: 'nutanix-soft-medium';
}

.modal-container{
    width: 100%;
    border-radius: 4px;
    border: solid 1px rgba(34, 39, 46, .05);
    overflow: hidden;
    margin: 10px 0 20px 0;
  }
  
  .modal-item-container{
    max-height: 100px;
    overflow: scroll;
    height: auto;
  }
  
  .modal-item{
    padding: 10px;
    border-bottom: solid 1px rgba(34, 39, 46, .05);
    display: block; 
  }
  
  .modal-item-width{
    width: 120px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
  }
  
  .modal-item:last-child{
    border-bottom: solid 1px white;
  }

  .selectedEntitiesText{
    display: inline-block;
    max-width: 160px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
  }

  .larger-width{
    max-width: 240px;
  }

  .card-border{
    border: solid 1px #22a5f7;
  }

  .progress-box{
      display: inline-block;
      width: calc(100% - 40px);
      background-color: #F2F4F6;
      height: 18px;
  }

  .progress-innerbox{
    display: inline-block;
    background: #22a5f7;
    height: 18px;
  }

  .log-icon{
    height: 15px; 
    width: 15px; 
    position:relative; 
    top: 3px;
  }
