<div class="create-appl-container">
    <div class="item-a">
        <div class="popup-title">{{isUpdate ? 'Update Application' : 'Create Application'}}</div>
        <div (click)="onClosePopup(false)" class="icon-star close-div">
        <i class="fulldetail-close-button" title="Back">
            <svg viewBox="0 792 2048 2048" class="svg-icon  -id-K">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#K"></use>
            </svg>
        </i>
        </div>
    </div>
    <div class="item-a2">
        <div class="steps-div">
            <nz-steps [(nzCurrent)]="current">
                <nz-step [nzTitle]="'General Information'"></nz-step>
                <nz-step [nzTitle]="'Yaml Configuration'"></nz-step>
            </nz-steps>
        </div>
    </div>
    <div class="item-b">
        <div class="content" *ngIf="current===0">
            <div class="content-title">General Information</div>
            <div class="input-group">
                <div class="content-subtitle">Name</div>
                <input type="text" [(ngModel)]="name" (ngModelChange)="checkApplicationNameDuplicate(name)" [ngClass]="{'error-border': applicationNameFound}" placeholder="Please Enter" maxlength=200>
                <div *ngIf="applicationNameFound" class='error-style'>
                    Name already exists. Please enter a new name.
                </div>
            </div>
            <div class="input-group">
                <div class="content-subtitle">
                    Description
                </div>
                <textarea style="height:95px; padding: 5px 10px; margin-top: 5px;" maxlength=200 [(ngModel)]="desp" placeholder="Describe the Purpose"></textarea>
            </div>
            <div class="input-group">
                <div class="content-subtitle">
                    Project
                </div>
                <nz-select [nzDisabled]= "context === 'project' || isUpdate" style="width: 700px;" [nzPlaceHolder]="'Please Select...'" [(ngModel)]="associatedProjectId" (ngModelChange)="filterEdges()">
                    <nz-option class="selecting-options" *ngFor="let p of projectsData" [nzValue]="p.id"  [nzLabel]="p.name"></nz-option>
                </nz-select>
            </div>
            <div *ngIf="this.associatedProjectId" class="content-title">Edge Selection</div>
            <div *ngIf="this.associatedProjectId && !noEdges" style="margin-top: 5px">Select edges where you want to run your applications</div>
            <div *ngIf="selectedEdgesCopy.length === 0 && this.associatedProjectId" class="center-item">
                <div *ngIf ="!noEdges">No Edges have been selected.</div>
                <div *ngIf ="noEdges">No Edges associated with current project.</div>
                <div *ngIf ="!noEdges" style="margin-top: 10px">
                    <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onOpenEdgesSelection(false)">
                        <i class="anticon anticon-plus"></i>
                        <span>Select Edges</span>
                    </button>
                </div>
            </div>
            <div *ngIf="selectedEdgesCopy.length > 0" style="font-size: 12px; margin-top: 5px;">
                <span>{{selectedEdgesCopy.length}} {{selectedEdgesCopy.length > 1 ? 'Edges' : 'Edge'}} Selected</span>
                <a (click)="onOpenEdgesSelection(true)" style="float: right">Edit</a>
                <div class="edgeContainer">
                    <div class="edgeItem">
                        Name
                    </div>
                    <div class="edgeItemContainer">
                        <div *ngFor="let edge of selectedEdgesCopy" class="edgeItem">
                            <span>{{edge.name}}</span>
                            <i class="edge-delete-btn" (click)="removeEdge(edge)" title="Back" style="float: right">
                                <svg viewBox="0 792 2048 2048" class="svg-icon  -id-K">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#K"></use>
                                </svg>
                            </i>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div *ngIf="current===1" class="editorWidth">
            <div style="display: flex;">
                <div style="margin: 5px 0; width: 100%; display: flex;">
                    <div>
                        <input style="display: block" type="file" name="scriptfile" size="80" (change)="handleFileSelect($event)" [disabled]="showDiff">
                        <div *ngIf="code.length === 0" class="error-style">
                            Please upload a yaml file.
                        </div>
                        <div *ngIf="code.length > 30720" class="error-style">
                            File size too large. Please limit character number to 30720.
                        </div>
                    </div>
                    
                    <div class="spacer"></div>
                    <div class="theme-select">
                        <select [(ngModel)]="theme" (ngModelChange)="onChangeTheme()" class="theme-selector">
                            <option *ngFor="let thm of themes" value="{{thm.value}}" [selected]="theme === thm.value">{{thm.name}}</option>
                        </select>
                    </div>
                    <button nz-button (click)="displayDiffEditor()">
                        <span>{{showDiff ? 'Show Editor' : 'Show Diff'}}</span>
                    </button>
                </div>
            </div>
            <div style="margin-top: 20px;width:100%;height:calc(100% - 60px);">
                <monaco-editor *ngIf="!showDiff" #monacoEditor [(ngModel)]="code" language="yaml"></monaco-editor>
                <monaco-editor *ngIf="showDiff" #monacoDiffEditor [(ngModel)]="diffObj" [showDiff]="true" language="yaml" [editorHeight]=400></monaco-editor>
            </div>
        </div>   
    </div>
    <div class="popup-bottom-content item-c">
        <div class="popup-footer">
            <button nz-button (click)="onClosePopup(true)">
                <span>{{current === 0 ? 'Cancel' : 'Back'}}</span>
            </button>
            <button nz-button [nzType]="'primary'" style="margin-left: 5px;" (click)="onCreateApplication()" [disabled]="disableBtn()" [nzLoading] = "isConfirmLoading">
                <span>{{current === 0 ? 'Next' : isUpdate ? 'Update' : 'Create'}}</span>
            </button>
        </div>
    </div>
</div>

<nz-modal [nzVisible]="edgeSelectionVisible" [nzTitle]="'Edge Selection'" [nzContent]="modalContent" (nzOnCancel)="onUploadEdges()"
  (nzOnOk)="onUploadEdges()" [nzOkText]="'Done'" [nzCancelText]="'Cancel'"  [nzFooter]="edgeFooter">
    <ng-template #modalContent>
        <div class="content">
            Here is a list of Edges in your environment. You can select one or more for applications.
        </div>
        <div style="margin-top: 20px;">
          <span style="font-weight: 600; margin-right: 20px;">List of Edges</span>
          <span>{{selectedEdges.length}} of {{allEdges.length}} selected</span>
        </div>
        <div class="logsel-Container">
           <div>
              <label nz-checkbox [(ngModel)]="selectAllEdges" (ngModelChange)="onSelectAllEdges()" style="margin: 0 0 10px 10px;">
                <span>Edges</span>
              </label>
              <div *ngIf="isDownload" style="margin: 0 0 10px 10px;">
                Edges
              </div>
           </div>
           <div class="logsel-search">
              <input (keyup)="onFilterChange()" [(ngModel)]="searchVal" placeholder="Type to Filter..."/>
              <div class="icon-search">
                <svg viewBox="0 0 12 12">
                  <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search-alt"></use>
                </svg>
              </div>
            </div>
            <div class="logitem-container">
              <div>
                <div *ngFor="let edge of edges">
                    <label nz-checkbox class="logsel-item" [(ngModel)]="edge.selected" (ngModelChange)="onSelectEdge(edge)">
                      <span>{{edge.name}}</span>
                    </label>
                </div>
              </div>  
            </div>    
        </div>   
    </ng-template>
    <ng-template #edgeFooter>
        <div *ngIf="isUploading" style="float: right; margin: 3px 0 0 10px;">
          <nz-spin></nz-spin>
        </div>
        <button nz-button (click)="onUploadEdges()">
          <span>Cancel</span>
        </button>
        <button nz-button [nzType]="'primary'" (click)="onUploadEdges()" [disabled]="selectedEdges.length === 0">
          <span>Select</span>
        </button>
    </ng-template>
    </nz-modal>