.dialog-content {
  min-height: 300px;
}

.dialog-left-pane {
  width: 25%;
  height: 100%;
  float: left;
  display: inline-block;
  padding: 20px 10px;
  xx-border-right: 1px solid #e9e9e9;
}

.dialog-right-pane {
  width: 75%;
  height: 100%;
  display: inline-block;
  padding: 10px 30px;
  border-left: 1px solid #e9e9e9;
}

.normal-margin-top {
  margin-top: 20px;
}

.large-margin-top {
  margin-top: 30px;
}

.small-margin-top {
  margin-top: 15px;
}

.select-box {
  width: 100%;
  border: 1px solid #aaaaaa;
}

.cert-ui {
  width: 340px;
  height: 80px;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}
