.script-edit-container {
  font-size: 14px;
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 320px 50px 320px 50px 320px auto;
  grid-template-rows: 60px 60px auto;
}

.popup-title {
  font-size: 20px;
  padding: 15px;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: #ffffff;
  border-bottom: 1px solid #e9e9e9;
}

.item-a .close-div {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #444444;
  fill: #444444;
}

.item-a2 {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: #ffffff;
  border-bottom: 1px solid #e9e9e9;
}

.item-a2 .steps-div {
  width: 600px;
  margin-left: calc(50% - 300px);
  margin-top: 18px;
}

.item-b {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 3;

  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f4f6f7;
}

.item-b .content {
  width: 800px;
  height: 100%;
  padding: 30px 0;
}

.theme-label {
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.theme-select {
  display: inline-block;
  margin-left: 10px;
}

.theme-select select {
  width: 100%;
  border: 1px solid #cccccc;
}

.inline-option {
  display: inline-block;
  float: right;
}

.tab-container {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}
.tab-item {
  display: inline-block;
  padding: 10px 0;
  cursor: pointer;
  margin-right: 20px;
}

.tab-item.active {
  color: #108ee9;
  border-bottom: 2px solid;
}
