<div class="right-panel">
    <div *ngIf="data.length !== 0 && !isLoading">
        <div class="toolbar" style="padding-bottom:0px;">
            <button  nz-button [nzType]="'primary'" *ngIf="!isShowingDownloadButton()" class="editButton" (click)="onClickEditApp()">
            <span>Edit</span>
            </button>
            <button  nz-button [nzType]="'default'" *ngIf="isShowingDownloadButton()" class="editButton" (click)="uploadLogs()">
                <span>Collect Log Bundle</span>
            </button>
            <button  [ngClass]="logsCollected ? '': 'disablebutton'" nz-button [nzType]="'default'" *ngIf="isShowingDownloadButton()" class="editButton" (click)="logsCollected ?  onClickDownloadLogs() : false">
                <span>Download Log Bundle</span>
            </button>
        </div>
        <div class="table-container">
            <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" [nzCustomNoResult]="true"
            (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
                <thead nz-thead>
                    <tr>
                    <th nz-th [nzCheckbox]="true">
                        <label nz-checkbox  [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                        </label>
                    </th>
                    <th nz-th *ngFor="let col of columns">
                        <span>{{col}}</span>
                        <nz-table-sort [(nzValue)]="sortMap[col]" (nzValueChange)="sort(col,$event)"></nz-table-sort>
                    </th>
                    <th></th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                    <td nz-td [nzCheckbox]="true">
                        <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
                        </label>
                    </td>
                    <td nz-td><nz-badge [nzStatus]="data.connected ? 'success' : 'default'"></nz-badge><a (click) = "onClickOpenContainers(data)"> {{data.name}}</a></td>
                    <td>
                        <div  class="noRunningStatus" *ngIf ="!data.status && data.connected">
                            <span>Deploying...</span>
                            <span><nz-spin [nzSize]="'small'"></nz-spin></span>
                        </div>
                        <div class="noRunningStatus" *ngIf ="!data.connected">
                            <span>Edge is not connected.</span>
                        </div>
                        <div *ngIf ="data.status && data.connected">
                            <span>{{data.status}}</span>
                        </div>
                    </td>
                    <td nz-td>{{data.alerts}}</td>
                    <td nz-td>{{data.cpu}}</td>
                    <td nz-td>{{data.memory}}</td>
                    <td nz-td class="logCollectingStatus"><span>{{data.collectingLogs && !data.logsCollected  ? 'Collecting...' :  data.time}}</span>
                        <span *ngIf = "data.collectingLogs"><nz-spin [nzSize]="'small'"></nz-spin></span>
                    </td>
                    <td nz-td class="table-container-options-column">
                        <nz-popover [nzPlacement]="'leftTop'" [nzTrigger]="'hover'">
                          <div nz-td nz-popover class="table-container-options"></div>
                          <ng-template #nzTemplate>
                            <div class="table-container-options-items">
                              <nz-radio-group [(ngModel)]="_rowIndex" (ngModelChange)="_refreshStatus($event)">
                                  <p  nz-radio-button [nzValue]="data.id" (click)=uploadLogs()>Collect Log Bundle</p>
                                  <p  [ngClass]="data.disable ? 'disablebuttons': ''" nz-radio-button [nzValue]="data.id" (click)= "data.disable ? false : onClickDownloadLogs()">Download Latest Log Bundle</p>
                              </nz-radio-group>
                            </div>
                          </ng-template>
                        </nz-popover>
                      </td>
                    </tr>
                </tbody>
                <div noResult>No Data</div>
            </nz-table>
        </div>
    </div>
    <div *ngIf="data.length === 0 && !isLoading" class="center-container">
        <div class="center-item-dep">
            <span class="loadingSpan"><p>No Edges Data.</p></span>
        </div>
    </div>
    <div *ngIf="data.length === 0 && isLoading" class="center-container">
        <nz-spin></nz-spin>
    </div>
</div>
<nz-modal class="contModal" [nzStyle] = "{'width':'800px'}" [nzVisible]="isContainerModalVisible" [nzTitle]="appName" [nzContent]="modalContent" (nzOnCancel)="handleContainerCancel()" [nzFooter]="null">
    <ng-template #modalContent>
               <h4 class="popup-header">{{contTitle}}</h4>
                <nz-table class="contTable" #nzTable [nzDataSource]="containersData" [nzCustomNoResult]="true" [nzScroll]="{ y: 450 }">
                    <thead nz-thead>
                        <tr>
                        <th nz-th *ngFor="let c of modalCols">
                            <span class="headers">{{c}}</span>
                        </th>
                        </tr>
                    </thead>
                    <tbody class="modal" nz-tbody>
                        <tr nz-tbody-tr *ngFor="let cd of nzTable.data">
                            <td nz-td>{{cd.name}}</td>
                            <td class="yaml" nz-td>{{cd.yaml}}</td>
                            <td nz-td>{{cd.status}}</td>
                            <td nz-td>{{cd.restarts}}</td>
                            <td nz-td>{{cd.uptime}}</td>
                            <td nz-td>{{cd.cpu}}</td>
                            <td nz-td>{{cd.memory}}</td>
                            
                        </tr>
                    </tbody>
                    <div noResult>No Data</div>
                </nz-table>
        
    </ng-template>
</nz-modal>
<nz-modal class="logsModal"  [nzVisible]="isLogsModalVisible" [nzTitle]="null" [nzContent]="logsModalContent" (nzOnCancel)="handleLogsModalCancel()" [nzFooter]="null">
    <ng-template #logsModalContent>
               <h3>Download Log Bundle</h3>
               <p>Log bundles for the different edge deployment have been collected at different times.</p>
               <p>You can collect logs to get the latest version or continue to download the current available logs.</p>
               <div class="removeScriptfooter">
                    <button class="footer-button" nz-button [nzType]="'default'" [nzSize]="'large'" (click)="handleLogsModalCancel()"><span>Cancel</span></button>
                    <button class="footer-button" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleLogsDownload()"><span> Download</span></button>
              </div>
    </ng-template>
</nz-modal>

