.right-panel{
    padding: 20px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;
}
.table-container {
    margin-top: 20px;
  }
  
  .right-panel {
    padding: 20px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;
  }
  
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }
  .center-item {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
  }
  
  .bullet-list > li {
    list-style: disc;
    list-style-position: inside;
  }

  button.editButton {
      font-size: 15px;
      margin-right:10px;
  }

  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }
  .popup-header{
    padding: 0 15px 15px 0;
  }

  .contTable .yaml{
    font-size:12px;
    width:200px;
  }
  .center-item-dep{
    width: 400px;
    display: flex;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
    align-items: center;
    justify-content: center;
  }
  span.loadingSpan {
    margin-left: 20px;
    margin-top: 3px;
  }
  .headers{
    font-size: 10px !important;
    font-weight: 600 !important;
  }
  .modal td{
    font-size: 12px !important;
  }
  
  .disablebuttons, .disablebutton{
    color:grey !important;
    cursor: not-allowed !important;
    
  }
  .disablebutton{
    background-color: #f3f0f0 !important;
    box-shadow:none !important;
  }
  .disablebuttons:hover, .disablebuttons:active{
    background-color:none !important;
  }
  .disablebuttons:hover, .disablebuttons:active, .disablebutton:hover, .disablebutton:active{
    outline:none !important;
  }
  .disablebutton:hover, .disablebutton:active{
    background-color: #f3f0f0 !important;
    border: 1px solid #d9d9d9 !important;
    box-shadow:none !important;
  }

  .noRunningStatus span {
    font-size: 11px;
    margin-right: 9px;
    float: left;
  }
  td.logCollectingStatus span{
    margin-left: 9px !important;
    float: left;
  }
  .removeScriptfooter {
    padding: 15px 1px 0 0;
    border-top: solid 1px #e9e9e9;
    margin-top: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  button.footer-button {
    margin-left:10px;
  }
  .logsModal h3 {
    height: 30px;
    margin-top: 15px;
    text-align: center;
  }

  .logsModal p {
    padding: 3px;
    line-height: 21px;
  }
  .table-container td, .table-container th{
    max-width:200px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

