.right-panel{
    padding: 20px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;
}
.table-container {
    margin-top: 20px;
  }
  
  .right-panel {
    padding: 20px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;
  }
  
  .center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
  }
  .center-item {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
  }
  
  .bullet-list > li {
    list-style: disc;
    list-style-position: inside;
  }
  
  button.editButton {
    border-radius: 5px;
    color: #020202e8;
    background: #cfd4dc;
    font-size: 15px;
    border: solid 1px #babfc6;
    padding: 3px 25px 3px 25px;
    outline: none !important;
}

button.editButton:active {
    box-shadow: none;
    outline: none !important;
    border: solid 1px #cad0d8;
    background: #7d8b9f;
    color: white;

}