<div style="padding: 20px;">
  <div class="toolbar" style="padding-bottom:0px;">
    <div class= "right-panel">
      <div class="table-container">
          <nz-table *ngIf="edges.length > 0"#nzTable [nzDataSource]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)"
                    [nzCustomNoResult]="true"
                    (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
            <thead nz-thead class="table-header">
            <tr>
              <th nz-th *ngFor="let col of columns">
                <span>{{col}}</span>
                <nz-table-sort [(nzValue)]="sortMap[col]" (nzValueChange)="sort(col,$event)" ></nz-table-sort>
              </th>
            </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr *ngFor="let data of nzTable.data" (click)="updateRowIndex($event)" [attr.rowValue]="data.name">
                <td nz-td>{{data.name}}</td>
                <td nz-td><a class = "edges" (click) = "showModal(data.associatedEdges,$event)">{{data.associatedEdges.length}}</a></td>
                <td nz-td><a class="sources" (click) = "showModal(data.associatedDataSources,$event)">{{data.associatedDataSources.length}}</a></td>
                <td nz-td>{{data.associatedDataStreams}}</td>
              </tr>
            </tbody>
            <div noResult>No Data</div>
          </nz-table>
          <div *ngIf="isLoading" class="center-container">
            <nz-spin></nz-spin>
          </div>
      </div>
    </div>
  </div>
</div>
<nz-modal [nzStyle] = "{'width':'800px'}" [(nzVisible)]="isCreateModalVisible" [nzContent]= "modalContent" [nzTitle]="getModalTitle()" [nzFooter] = "null" (nzOnCancel)="handleCancel()">
    <ng-template #modalContent>
        <h4 class="popup-header">{{popupHeader}}</h4>
        <nz-table #nzTable [nzDataSource]="popupData" [nzIsPagination]="false" (nzDataChange)="_displayDataChange($event)" [nzCustomNoResult]="true" (nzPageSizeChange)="_refreshStatus()" [nzScroll]="{y: 250}">
          <thead nz-thead class="popup-table-header">
            <tr>
              <th nz-th *ngFor="let col of popupColumns">
                <span>{{col}}</span>
                <nz-table-sort [(nzValue)]="popupSortMap[col]" (nzValueChange)="popupSort(col,$event)" ></nz-table-sort>
              </th>
            </tr>
          </thead>
          <tbody nz-tbody>
            <tr nz-tbody-tr *ngFor="let data of nzTable.data">
              <td nz-td>{{data.name}}</td>
              <td nz-td>{{data.prop1}}</td>
              <td nz-td>{{data.prop2}}</td>
              <td nz-td>{{data.prop3}}</td>
              <td nz-td *ngIf ="data.prop4">{{data.prop4}}</td>
            </tr>
          </tbody>
          <div noResult>No Data</div>
        </nz-table>
        <div class="removeScriptfooter">
          <button class="footer-button" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleCancel()"><span>Done</span></button>
        </div>
    </ng-template>
</nz-modal>

