:host {
  display: flex;
}
.right-panel {
  padding: 20px;
  width: calc(100% - 240px);
  position: absolute;
  left: 240px;
}

.right-panel .toolbar {
  width: 100%;
  height: 52px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}
.center-item {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
}
.removeScriptfooter {
  padding: 9px 1px 30px 0;
  border-top: solid 1px #e9e9e9;
  margin-top: 10px;
}

button.footer-button {
  float: right;
}

.width-limit{
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



