<div class="right-panel">
    <div *ngIf="data.length === 0 && isLoading" class="center-container">
      <nz-spin></nz-spin>
    </div>
    <div *ngIf="data.length === 0 && !isLoading" class="center-container">
      <div class="center-item">
          <div *ngIf = "_sherlockRole !==''">No Runtime Environments Have been created yet.</div>
          <div *ngIf = "_sherlockRole ===''">No Runtime Environments associated with current project.</div>
          <div *ngIf = "_sherlockRole !==''" style="margin-top: 20px">
          <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onCreateRuntime()">
              <i class="anticon anticon-plus"></i>
              <span>Create Runtime Environment</span>
          </button>
          </div>
      </div>
    </div>
    <div *ngIf="data.length !== 0">
        <div class="toolbar" style="padding-bottom:0px;">
            <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onCreateRuntime()">
              <i class="anticon anticon-plus"></i>
              <span>Create</span>
            </button>
            <button *ngIf="isShowingDeleteButton()" style="margin-left:10px;" nz-button [nzType]="'default'" [nzSize]="'large'" [nzLoading]="isConfirmLoading"
              (click)="onClickRemoveTableRow()">
              <i class="anticon anticon-close"></i>
              <span>Remove</span>
            </button>
            <div class="spacer"></div>
        </div>
        <div>
          <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" [nzCustomNoResult]="true"
          (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
            <thead nz-thead>
              <tr>
                <th nz-th [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                  </label>
                </th>
                <th nz-th *ngFor="let col of columns">
                  <span>{{col}}</span>
                  <nz-table-sort [(nzValue)]="sortMap[col]" (nzValueChange)="sort(col,$event)"></nz-table-sort>
                </th>
                <th nz-th>
                </th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr *ngFor="let runtime of nzTable.data">
                <td nz-td [nzCheckbox]="true">
                  <label nz-checkbox [(ngModel)]="runtime.checked" (ngModelChange)="_refreshStatus($event)">
                  </label>
                </td>
                <td nz-td class="width-limit">{{runtime.name}}</td>
                <td nz-td class="width-limit">{{runtime.dockerRepoURI}}</td>
                <td nz-td class="width-limit">{{runtime.description}}</td>
                <td nz-td class="categories-table-container-options-column">
                  <nz-popover [nzPlacement]="'leftTop'" [nzTrigger]="'hover'">
                    <div nz-td nz-popover class="table-container-options"></div>
                    <ng-template #nzTemplate>
                      <div class="table-container-options-items">
                        <nz-radio-group [(ngModel)]="_rowIndex" (ngModelChange)="_refreshStatus($event)" *ngFor="let option of tableRowEditingOptions; index as i">
                            <p *ngIf="(runtime.viewonly && i === 1) || (!runtime.viewonly && i==0) || i === 2" [ngClass]= "(runtime.viewonly && i === 2) ? 'disablebuttons' : ''" nz-radio-button [nzValue]="runtime.id" (click)=option.action($event)>{{option.label}}</p>
                           
                        </nz-radio-group>
                      </div>
                    </ng-template>
                  </nz-popover>
                </td>
              </tr>
            </tbody>
          </nz-table>
        </div>
    </div>
    <div *ngIf="data.length ==0 && isLoading" class="center-container">
      <nz-spin></nz-spin>
    </div>
  </div>
  
  <nz-modal [nzVisible]="isDeleteModalVisible" [nzTitle]="'Remove Runtime Environments'" [nzContent]="modalContent1"
    (nzOnOk)="OnClickDeleteRuntime(true)" [nzOkText]="'Remove'" (nzOnCancel)="OnClickDeleteRuntimeCancel()" [nzCancelText]="'Cancel'" [nzConfirmLoading]="isModalConfirmLoading">
      <ng-template #modalContent1>
          <nz-alert [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
              <span alert-body>
                  <pre>Removing Runtime Environment(s).</pre>
                </span>
          </nz-alert>
          <div class="content">
              Are you sure you want to delete the runtime environment(s)?
          </div>
      </ng-template>
  </nz-modal>
