.confirm-update-container{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    font-size: 14px;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.popup-title {
    font-size: 20px;
    padding: 15px;
}

.item-a {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

.item-a .close-div {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #444444;
    fill: #444444;
}

.item-b {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    flex-grow: 1;
}
  
.item-c {
    border-top: solid 1px #e2dfdf;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:20px;
  
}

.confirm-warning{
    text-align: center;
    font-weight: bold;
    width:100%;
    display:flex;
    justify-content:center;
}

.item-b .content{
    width: 700px;
    margin-top: 30px;
}

.item-b .subtitle{
    margin: 10px 0;
    font-weight: bold;
}

.update-card{
    height: 115px;
    background: white;
    border-radius: 4px;
    margin-top: 20px;
    margin-right: 20px;
    width: 450px;
    border: solid 1px #dddddd;
}

.card-row{
   padding: 10px 16px;
   border-bottom: 1px solid #eeeeee;
   font-size: 12px;
}

.update-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #ed5c5c;
    color: white;
    padding-top: 1px;
    text-align: center;
}

.update-version{
    color: #9aa5b5;
    display: inline-block;
    margin-left: 10px;
    font-family: 'nutanix-soft-medium';
}

.selectedEntitiesText{
    display: inline-block;
    max-width: 200px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
}

.larger-width{
    max-width: 240px;
}

.modal-container{
    width: 100%;
    border-radius: 4px;
    border: solid 1px rgba(34, 39, 46, .05);
    overflow: hidden;
    margin: 10px 0 20px 0;
}
  
.modal-item-container{
    max-height: 100px;
    overflow: scroll;
    height: auto;
}
  
.modal-item{
    padding: 10px;
    border-bottom: solid 1px rgba(34, 39, 46, .05);
    display: block; 
}
  
.modal-item-width{
    width: 120px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
  
.modal-item:last-child{
    border-bottom: solid 1px white;
}
