.create-project-container{
  font-size: 14px;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.item-a {
  border-bottom: 1px solid #e9e9e9;
  width:100%;
}

.item-a .close-div {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #444444;
  fill: #444444;
}

.item-a2 {
  border-bottom: 1px solid #e9e9e9;
  width:100%;
  display:flex;
  padding: 15px;
  justify-content: center;
}

.wide-steps-div {
  width: 600px;
  padding: 0 50px;
}

.item-b {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  flex-grow: 1;
  padding: 0 20px;
}
.item-c {
  border-top: solid 1px #e2dfdf;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding:20px;
}

.item-b .content {
  padding: 30px 0;
  width: 700px;
}

.popup-title {
  font-size:20px;
  padding:15px;
}

.input-group{
  margin-top: 20px;
}

.content-title{
  margin-top: 10px;
  font-weight: 600;
}

.content-subtitle{
  margin-bottom: 5px;
}

.center-item {
  margin-top: 10px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
}

.selection-container{
  width: 100%;
  height: 192px;
  border-radius: 4px;
  border: solid 1px rgba(34, 39, 46, .05);
  overflow: hidden;
  margin: 10px 0 20px 0;
  padding: 10px 0;
}

.selection-search{
  background: #eeeeee;
  padding: 10px;
  margin-bottom: 3px;
}

.selection-search input{
  width: 100%;
  border: solid 0px white;
  border-radius: 0px;
  background: #eeeeee;
  position: relative;
  margin-left: 25px;
}

.selection-search input:focus{
  outline: 0;
}

.selection-search .icon-search{
  width: 13px;
  height: 13px;
  fill: #cccccc;
  position: relative;
  top: -15px;
  margin: 0 0 -14px 2px;
}

.selection-item-container{
  overflow: scroll;
  height: 114px;
}

.selection-item{
  padding: 10px;
  border-bottom: solid 1px rgba(34, 39, 46, .05);
  display: block;
}

.modal-container{
  width: 100%;
  border-radius: 4px;
  border: solid 1px rgba(34, 39, 46, .05);
  overflow: hidden;
  margin: 10px 0 20px 0;
}

.modal-item-container{
  max-height: 100px;
  overflow: scroll;
  height: auto;
}

.modal-item{
  padding: 10px;
  border-bottom: solid 1px rgba(34, 39, 46, .05);
  display: block; 
}

.modal-item-width{
  width: 300px;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-item:last-child{
  border-bottom: solid 1px white;
}

.item-delete-btn{
  float: right;
  width: 10px;
  cursor: pointer;
}

.select-box {
  width: 100%;
  height: 42px;
}

.select-box > select {
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 5px;
}

.close-container{
  height: 32px;
  margin-top: 5px;
  border: solid 1px #cccccc;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.cat-info-close{
  margin-left: 6px;
  font-weight: bolder;
  line-height: 31px;
}

.error-style{
  font-size: 12px;
  color: #9c0909;
  margin-top: 5px;
  white-space: nowrap;
  width:100%;
}

.error-border{
  box-shadow: inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15) !important;
}
input[disabled], select[disabled], textarea[disabled] {
  background-color: #f7f7f7;
  cursor: pointer;
}

.user-width-limit{
  max-width: 400px;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
}