<div class="main-sidebar-wrapper nano" style="height: calc(100% - 60px);">
  <div class="main-sidebar nano-content" tabindex="0">
    <div class="summary">
      <h1>Users</h1>
    </div>
    <div class="meta">
      <div class="meta-item">
        <p class="info">{{data.length}} Total Users</p>
      </div>
    </div>
    <div class="sidebar-group">
      <div>Summary about user</div>
    </div>
  </div>
</div>
<div class="main-sidebar-spacer"></div>

<div class="right-panel">
  <div *ngIf="data.length !== 0">
    <div *ngIf="_sherlockRole !== ''" class="toolbar" style="padding-bottom:0px;">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickCreateUser()">
        <i class="anticon anticon-plus"></i>
        <span>Create</span>
      </button>
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" style="margin-left:10px; display: none;" (click)="onClickInviteUser(true)">
        <i class="anticon anticon-plus"></i>
        <span>Invite User</span>
      </button>
      <button *ngIf="isShowingDeleteButton()" style="margin-left:10px;" nz-button [nzType]="'default'" [nzSize]="'large'" [nzLoading]="isConfirmLoading"
        (click)="onClickRemoveTableRow()">
        <i class="anticon anticon-close"></i>
        <span>Remove</span>
      </button>
    </div>
    <div *ngIf="_sherlockRole !== ''" class="spacer"></div>
    <div class="table-container">
      <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" [nzCustomNoResult]="true"
        (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
        <thead nz-thead>
          <tr>
            <th nz-th [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th *ngFor="let col of columns">
              <span>{{col}}</span>
              <nz-table-sort [(nzValue)]="sortMap[col]" (nzValueChange)="sort(col,$event)"></nz-table-sort>
            </th>
            <th nz-th></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td class="width-limit">{{data.name}}</td>
            <td nz-td class="width-limit">{{data.email}}</td>
            <td nz-td class="options-column">
                <nz-radio-group [(ngModel)]="_rowIndex" (ngModelChange)="_refreshStatus($event)" *ngFor="let option of tableRowEditingOptions; index as i">
                    <p *ngIf= "_sherlockRole === '' && (i === 1 || i === 2)" [ngClass]= "i === 2 ? 'disablebuttons' : ''"  nz-radio-button [nzValue]="data.id" (click)= "i === 2 ? false : updateRowIndex(data.id, option)">{{option.label}}</p>
                    <p *ngIf= "_sherlockRole !== '' && (i === 0 || i === 2)" [ngClass]= "(data.disable && i === 2) ? 'disablebuttons' : ''"  nz-radio-button [nzValue]="data.id" (click)= "(data.disable && i === 2) ? false : updateRowIndex(data.id, option)">{{option.label}}</p>
                </nz-radio-group>
            </td>
          </tr>
        </tbody>
        <div noResult>No Data</div>
      </nz-table>
    </div>
  </div>
  <div *ngIf="data.length === 0 && !isLoading" class="center-container">
    <div class="center-item">
        <div *ngIf="_sherlockRole !== ''">No Users have been created yet.</div>
        <div *ngIf="_sherlockRole === ''">No Users have been added to projects yet.</div>
      <div *ngIf="_sherlockRole !== ''" style="margin-top: 20px">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickCreateUser()">
          <i class="anticon anticon-plus"></i>
          <span>Create User</span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="data.length === 0 && isLoading" class="center-container">
    <nz-spin></nz-spin>
  </div>
</div>
<nz-modal [nzVisible]="isDeleteModalVisible" [nzTitle]="'Remove User'" [nzContent]="deletemodalContent" (nzOnCancel)="handleDeleteUserCancel()"
    (nzOnOk)="handleDeleteUserOk()" [nzFooter]= "viewModal ? null : ''" [nzOkText]="'Remove'" [nzCancelText]="'Cancel'" [nzConfirmLoading] ="isModalConfirmLoading">
    <ng-template #deletemodalContent>
      <div  *ngIf="isLoading" class="modal-spin">
        <nz-spin></nz-spin>
      </div>
      <div  *ngIf="!isLoading">
        <nz-alert  *ngIf ="viewModal" [nzType]="'error'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
          <span alert-body>
            <pre>Cannot Remove {{ multipleUsers ? 'Users.' : 'the User.' }}</pre>
          </span>
        </nz-alert>
        <nz-alert  *ngIf ="!viewModal" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
          <span alert-body>
              <pre>Removing {{ multipleUsers ? 'Users.' : 'the User.' }}</pre>
          </span>
        </nz-alert>
        <div *ngIf ="viewModal" class="associationList">
          <div  nz-row [ngStyle]="{'margin-top': alertClosed ? '0' : '20px'}">
                <span>Cannot Remove current User</span>
          </div>
          <p><span>Remove the following User from selection to continue.</span> </p>
          <ul>
            <li *ngFor ="let p of associatedUsers">{{p.name}}</li>
          </ul>
        </div>
        <div *ngIf ="!viewModal" nz-row [ngStyle]="{'margin-top': alertClosed ? '0' : '20px'}">
          Are you sure you want to remove {{multipleUsers ? "these Users?" : "the User?"}}
        </div>
        <div class="usersFooter"  *ngIf ="viewModal">
            <button class="footer-button" nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="handleDeleteUserCancel()"><span>Done</span></button>
        </div>
      </div>
    </ng-template>
 </nz-modal>
<nz-modal [nzStyle] = "{'width':'600px'}"  [nzVisible]="isCreateModalVisible" [nzTitle]="updateUser ? 'Update User' : 'Create User'" [nzContent]="modalContent"
  (nzOnCancel)="handleCreateUserCancel()" (nzOnOk)="handleCreateUserOk()" [nzOkText]="'OK'" [nzCancelText]="'Cancel'" [nzFooter]="userFooter" [nzConfirmLoading]="isModalConfirmLoading">
  <ng-template #modalContent>
    <nz-alert  *ngIf ="_sherlockRole !== '' && viewModal" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span  alert-body>
          <pre class="notification">This is current User. Only 'Name' & 'Role' can be edited. Password Required.</pre>
        </span>
    </nz-alert>
    <nz-alert  *ngIf ="_sherlockRole === '' && viewModal" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span  alert-body>
          <pre class="notification">Read-only for Project Users.</pre>
        </span>
    </nz-alert>
    <nz-alert  *ngIf ="updateUser && !viewModal" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span  alert-body>
          <pre class="notification"> Password Required.</pre>
        </span>
    </nz-alert>
    <div nz-row class="content">
      Name
    </div>
    <div nz-row>
      <input [disabled]= "_sherlockRole ===''" [(ngModel)]="usernameInput" placeholder="Name" maxlength=200 (ngModelChange)="checkDuplicateUserNames('name')" [ngClass]="duplicateUserNameFound ? 'error-border' : 'editField'">
      <div *ngIf="duplicateUserNameFound" class='error-style'>
          Profile name already exists. Please enter a new Name.
      </div>
    </div>
    <div nz-row style="margin-top: 20px;">
      Email
    </div>
    <div nz-row>
      <nz-input maxlength=200 [disabled]= "_sherlockRole ==='' || viewModal" [(ngModel)]="emailInput" [nzPlaceHolder]="'Email'" (ngModelChange)="userEmailChange($event); checkDuplicateUserNames('email')" [ngClass]="{'user-error-border' : showEmailError || duplicateUserEmailFound}"></nz-input>
      <div *ngIf="showEmailError" class="error-style">Email Address format is not correct</div>
      <div *ngIf="duplicateUserEmailFound" class='error-style'>
        Email already exists. Please enter new Email.
      </div>
    </div>
    <div nz-row style="margin-top: 20px;">
      Password
    </div>
    <div nz-row>
      <nz-input [disabled]= "_sherlockRole ===''" [nzType]="'password'" [(ngModel)]="passwordInput" [nzPlaceHolder]="'Password'"></nz-input>
    </div>
    <div nz-row class="content">
      Role
    </div>
    <div nz-row>
      <div class="options">
          <nz-radio-group [(ngModel)]="userRole">
              <label [nzDisabled]="_sherlockRole === ''" nz-radio [nzValue]="'INFRA_ADMIN'">
                  <span>Infrastructure Admin</span>
              </label>
              <label [nzDisabled]="disableUserSelection()" nz-radio [nzValue]="'USER'">
                  <span>User</span>
              </label>
          </nz-radio-group>
      </div>
    </div>
  </ng-template>
  <ng-template #userFooter>
    <button *ngIf ="_sherlockRole !== ''" nz-button (click)="handleCreateUserCancel()">
      <span>Cancel</span>
    </button>
    <button *ngIf ="_sherlockRole !== ''" nz-button [nzType]="'primary'" (click)="handleCreateUserOk()" [disabled]="createUserDisabled()" [nzLoading]="isModalConfirmLoading">
        <span>{{updateUser ? 'Update': 'Create'}}</span>
    </button>
    <button *ngIf ="_sherlockRole === '' && viewModal" nz-button (click)="handleCreateUserCancel()" [nzType]="'primary'">
        <span>Done</span>
    </button>
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="isInviteModalVisible" [nzTitle]="'Invite User'" [nzContent]="invitemodalContent" (nzOnCancel)="onClickInviteUser(false)"
    [nzFooter]= "inviteFooter">
    <ng-template #invitemodalContent>
      <div>
        Invite users to Sherlock. Users will need to create a myNutanix account if they don't already have one. 
      </div>
      <label style="margin: 20px 0 5px 0; display: block;">
        Name
      </label>
      <input type="text" [(ngModel)]="inviteUsersName" (ngModelChange)="checkDuplicateInviteUser('name')" maxlength=200 [ngClass]="duplicateInviteUserNameFound ? 'error-border' : ''">
      <div *ngIf="duplicateInviteUserNameFound" class='error-style'>
        Username already exists. Please enter a new Name.
      </div>
      <label style="margin: 20px 0 5px 0; display: block;">
        Email
      </label>
      <input type="text" [(ngModel)]="inviteUsersEmail" (ngModelChange)="checkDuplicateInviteUser('email'); checkInviteUserValid()" maxlength=200 [ngClass]="duplicateInviteUserEmailFound || showInviteEmailError ? 'error-border' : ''">
      <div *ngIf="showInviteEmailError" class="error-style">Email Address format is not correct</div>
      <div *ngIf="duplicateInviteUserEmailFound" class='error-style'>
        Email address already exists. Please enter a new email address.
      </div>
      <label style="margin: 20px 0 5px 0; display: block;">
        Role
      </label>
      <label nz-checkbox (ngModelChange)="addUserRole()" [(ngModel)]="isInfra">
        <span>Infrastructure Admin</span>
      </label>
      <label nz-checkbox (ngModelChange)="addUserRole()" [(ngModel)]="isProjectUser" style="margin: 5px 0 0 0 !important; display: block !important;">
        <span>Project Users</span>
      </label>
      <div *ngIf="isProjectUser" style="margin: 20px 0 5px 0;">
        <label style="font-weight: 600; margin-right: 20px; display: inline-block;">
          List of Projects
        </label>
        <span>{{selectedProjects.length}} of {{allProjects.length}} selected</span>
      </div>
      <div class="selection-container" *ngIf="isProjectUser">
          <div>
            <label nz-checkbox [(ngModel)]="selectAllProjects" (ngModelChange)="onSelectAllProjects()" style="margin: 0 0 10px 10px;">
              <span>Projects</span>
            </label>
          </div>
          <div class="selection-search">
            <input (keyup)="onFilterChange()" [(ngModel)]="searchVal" placeholder="Type to Filter..."/>
            <div class="icon-search">
              <svg viewBox="0 0 12 12">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search-alt"></use>
              </svg>
            </div>
          </div>
          <div class="selection-item-container">
            <div *ngFor="let project of projects">
                <label nz-checkbox class="selection-item" [(ngModel)]="project.selected" (ngModelChange)="onSelectProject(project)">
                  <span class="user-width-limit">{{project.name}}</span>
                </label>
            </div>
          </div>    
      </div> 
    </ng-template>
    <ng-template #inviteFooter>
      <button nz-button (click)="onClickInviteUser(false)">
        <span>Cancel</span>
      </button>
      <button nz-button (click)="onClickInviteUser(true)" [nzType]="'primary'" [disabled]="disableInvite()">
        <span>Invite</span>
      </button>
    </ng-template>
 </nz-modal>