<div class="welcome-container">
  <div class="title-container">
    Welcome to Sherlock!
  </div>

  <div class="center-container">
    <img src="assets/sherlock_welcome.png">
  </div>

  <div class="intro-container">
    Sherlock platform simplifies Edge and Cloud infrastructure management and enables developers to quickly build intelligent
    applications across public or private cloud infrastructure. Customers connect variety of sensors like video cameras and
    create intelligent applications using variety of data connectors, machine learning modules like object recognition.
  </div>

  <div class="action-container">
    <button nz-button [nzType]="'primary'" (click)="onClosePopup()">
      <span>Get Started</span>
    </button>
  </div>
</div>