<div style="padding: 20px;">
  <div *ngIf="data.length !== 0 && !isLoading">
    <div class="toolbar" style="padding-bottom:0px;">
      <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickCreateDataStream()">
        <i class="anticon anticon-plus"></i>
        <span>Create</span>
      </button>
      <button *ngIf="isShowingDeleteButton()" style="margin-left:10px;" nz-button [nzType]="'default'" [nzSize]="'large'" [nzLoading]="isConfirmLoading"
        (click)="onClickRemoveTableRow()">
        <i class="anticon anticon-close"></i>
        <span>Remove</span>
      </button>
    </div>
    <div class="table-container">
      <nz-table #nzTable [nzDataSource]="data" [nzPageSize]="10" (nzDataChange)="_displayDataChange($event)" [nzCustomNoResult]="true"
        (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()">
        <thead nz-thead>
          <tr>
            <th nz-th [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
              </label>
            </th>
            <th nz-th *ngFor="let col of columns">
              <span>{{col}}</span>
              <nz-table-sort [(nzValue)]="sortMap[col]" (nzValueChange)="sort(col,$event)"></nz-table-sort>
            </th>
            <th nz-th></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td [nzCheckbox]="true">
              <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus($event)">
              </label>
            </td>
            <td nz-td>{{data.name}}</td>
            <td nz-td>{{data.project}}</td>
            <td nz-td>{{data.origin}}</td>
            <td nz-td>{{data.destination}}</td>
            <td nz-td>{{data.streamType}}</td>
            <!--<td nz-td>{{data.size | gb}}</td>-->
            <td nz-td class="categories-table-container-options-column">
                <nz-popover [nzPlacement]="'leftTop'" [nzTrigger]="'hover'">
                  <div nz-td nz-popover class="table-container-options"></div>
                  <ng-template #nzTemplate>
                    <div class="table-container-options-items">
                      <nz-radio-group [(ngModel)]="_rowIndex" (ngModelChange)="_refreshStatus($event)" *ngFor="let option of tableRowEditingOptions; index as i">
                         <p *ngIf="i !== 3 && i !== 1" nz-radio-button [nzValue]="data.id" (click)=option.action($event)>{{option.label}}</p>
                      </nz-radio-group>
                    </div>
                  </ng-template>
                </nz-popover>
              </td>
          </tr>
        </tbody>
        <div noResult>No Data</div>
      </nz-table>
    </div>
  </div>
  <div *ngIf="data.length === 0 && projects.length > 0 && !isLoading" class="center-container">
    <div class="center-item">
      <div>No Data Streams have been created yet.</div>
      <div style="margin-top: 20px">
        <button nz-button [nzType]="'primary'" [nzSize]="'large'" (click)="onClickCreateDataStream()">
          <i class="anticon anticon-plus"></i>
          <span>Create Data Stream</span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="isLoading" class="center-container">
    <nz-spin></nz-spin>
  </div>
  <div *ngIf="data.length === 0 && projects.length === 0 && !isLoading" class="center-container">
    <div class="center-item">
      <div>Current user has not been to any project yet.</div>
    </div>
  </div>
</div>
<nz-modal [nzVisible]="showConfirmDelete" [nzTitle]="'Remove Data Stream'" [nzContent]="modalContent" (nzOnCancel)="confirmDelete(false)"
[nzFooter]="deleteFooter">
  <ng-template #modalContent>
    <div *ngIf="disabledDS.length === 0">
      <nz-alert [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span alert-body>
            <pre>Removing Data Stream(s).</pre>
          </span>
      </nz-alert>
      <div style="font-size: 14px;">Are you sure you want to remove the following DataStream(s)</div> 
      <div *ngFor="let item of toDeletes; let i = index;" style="margin-top: 7px;">
        <div>{{i+1}}. {{item.name}}</div>
      </div>
    </div>
    <div *ngIf="disabledDS.length > 0">
        <nz-alert  *ngIf ="viewModal" [nzType]="'error'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
            <span alert-body>
                <pre>Cannot Remove Data Stream(s).</pre>
              </span>
        </nz-alert>
        <div style="margin-top: 10px; font-size: 14px;">
          The Following Data Streams are used by other Data Streams.
        </div>
        <ul>
          <li *ngFor ="let ds of disabledDS; let i = index;" style="margin-top: 7px;">
            <div>
                {{i+1}}. {{ds.name}}
            </div>
          </li>
        </ul>
    </div>   
  </ng-template>
  <ng-template #deleteFooter>
    <div *ngIf="disabledDS.length === 0">
      <button nz-button (click)="confirmDelete(false)" [nzType]="'default'" [nzSize]="'large'">
        Cancel
      </button>
      <button nz-button (click)="confirmDelete(true)" [nzType]="'primary'" [nzSize]="'large'">
          Remove
      </button>
    </div>
    <div *ngIf="disabledDS.length > 0">
      <button nz-button (click)="confirmDelete(false)">
        Done
      </button>
    </div>
      
  </ng-template>
</nz-modal>
<nz-modal [nzVisible]="showProjectModal" [nzContent]="selectProject1" [nzTitle]="'Create Data Stream'" (nzOnCancel)="selectProject(false)" (nzOnOk)="selectProject(true)" [nzFooter]="projectFooter">
  <ng-template #selectProject1>
    <div>
      Please select a project before going to the next step.
    </div>
    <div class="select-box">
        <select [(ngModel)]="projectId">
          <option value="" disabled>Select Project</option>
          <option *ngFor="let project of projects" value="{{project.id}}">{{project.name}}</option>
        </select>
    </div>
  </ng-template>
  <ng-template #projectFooter>
    <button nz-button (click)="selectProject(false)">
      Cancel
    </button>
    <button nz-button [nzType]="'primary'" (click)="selectProject(true)" [disabled]="projectId === ''">
       Next
    </button>
  </ng-template>
</nz-modal>