:host {
  width: 100%;
}

.table-container {
  margin-top: 20px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}
.center-item {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
}
.select-box {
  width: 150px;
  height: 42px;
}

.select-box > select {
  width: 100%;
  border: 1px solid #cccccc;
  margin-top: 10px;
}
