<div style="padding:20px;width:100%">
  <div class="panel">
    <app-prism-react-button (btnClick)="onClickReactButton()">
      <div #content>
        <app-prism-react-icon [type]="'plus'"></app-prism-react-icon>
        Open Modal
      </div>
    </app-prism-react-button>
  </div>


  <div class="panel">
    <app-prism-react-button (btnClick)="onClickReactButton()">
      <div #content>
        <app-prism-react-icon [type]="'settings'"></app-prism-react-icon>
        Open Modal
      </div>
    </app-prism-react-button>
  </div>

  <div class="panel">
    <app-prism-react-button (btnClick)="onClickReactButton2()">
      <div #content>Button 2</div>
    </app-prism-react-button>
  </div>

  <div class="panel">
    <app-prism-react-alert [type]="'info'" [message]="'Heads up! This alert needs your attention, but it\'s not super important.'"></app-prism-react-alert>
  </div>

  <div class="panel">
    <app-prism-react-status-icon [tooltipProps]="{'title': 'message (default)'}"></app-prism-react-status-icon>
    <app-prism-react-status-icon [type]="'alert'" [tooltipProps]="{'title': 'message (alert)'}"></app-prism-react-status-icon>
    <app-prism-react-status-icon [type]="'warning'" [tooltipProps]="{'title': 'message (warning)'}"></app-prism-react-status-icon>
    <app-prism-react-status-icon [type]="'question'" [tooltipProps]="{'title': 'message (question)'}"></app-prism-react-status-icon>
    <app-prism-react-status-icon [type]="'valid'" [tooltipProps]="{'title': 'message (valid)'}"></app-prism-react-status-icon>
  </div>

  <div class="panel">
    <div>
      <div>
        <app-prism-react-badge [color]="'red'" [count]="22"></app-prism-react-badge>
        <app-prism-react-badge [color]="'yellow'" [count]="22"></app-prism-react-badge>
        <app-prism-react-badge [color]="'green'" [count]="22"></app-prism-react-badge>
        <app-prism-react-badge [color]="'blue'" [count]="22"></app-prism-react-badge>
        <app-prism-react-badge [color]="'gray'" [count]="22"></app-prism-react-badge>
      </div>
      <div>
        <app-prism-react-text-label [type]="'primary'">
          <div #content>
            These special colors below are for use in diagram.
          </div>
        </app-prism-react-text-label>
        <div>
          <app-prism-react-badge [color]="'diagram-purple'" count="22"></app-prism-react-badge>
          <app-prism-react-badge [color]="'diagram-aqua'" count="22"></app-prism-react-badge>
          <app-prism-react-badge [color]="'diagram-orange'" count="22"></app-prism-react-badge>
          <app-prism-react-badge [color]="'diagram-yellow'" count="22"></app-prism-react-badge>
        </div>
      </div>
    </div>
  </div>

  <div class="panel">
    <app-prism-react-table [oldTable]="oldTable" [dataSource]="data" [columns]="columns"></app-prism-react-table>
  </div>

  <div class="panel">
    <app-prism-react-area-chart [data]="chartData"></app-prism-react-area-chart>
  </div>

  <div class="panel">
    <div style="width: 350px; height:200px;">
      <app-prism-react-bar-chart [data]="barchartData"></app-prism-react-bar-chart>
    </div>
  </div>

  <div class="panel">
    <app-prism-react-bar-chart-billing [width]="232" [height]="120" [data]="barchartBillingData"></app-prism-react-bar-chart-billing>
  </div>

  <div class="panel">
    <app-prism-react-distribution-bar-chart [data]="distributionBarchartData" [valueSuffix]="'TiB'"></app-prism-react-distribution-bar-chart>
  </div>


  <div class="panel">
    <app-prism-react-donut-chart [data]="donutChartData"></app-prism-react-donut-chart>
  </div>

  <div class="panel">
    <app-prism-react-line-chart [data]="lineChartData"></app-prism-react-line-chart>
  </div>

  <div class="panel">
    <app-prism-react-pie-chart [pies]="pieChartData"></app-prism-react-pie-chart>
  </div>

  <div class="panel">
    <app-prism-react-spark-line [data]="sparklineData"></app-prism-react-spark-line>
  </div>

  <div class="panel">
    <app-prism-react-violation-chart [min]="vcmin" [max]="vcmax" [data]="vcdata" [lines]="vclines"></app-prism-react-violation-chart>
  </div>

  <div class="panel">
    <div style="margin: 0 auto; width: 200px;">
      <app-prism-react-date-picker [placeholder]="'Select Date'" [renderPosition]="'top'"></app-prism-react-date-picker>
    </div>
  </div>
</div>


<app-prism-react-modal [visible]="modalVisible" [title]="'Modal'" [primaryButtonLabel]="'Done'" (primaryButtonClick)="onModalDone()"
  (btnCancel)="onModalCancel()">
  <div #content>
    <div style="padding: 20px;">
      <app-prism-react-paragraph>
        <div #content>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          Ut enim ad minim veniam...
        </div>
      </app-prism-react-paragraph>
    </div>
  </div>
</app-prism-react-modal>