.create-runtime-container{
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    font-size: 14px;
    width: 100vw;
    position: absolute;
    top: 0px;
    z-index: 3;
}

.popup-title {
    font-size: 20px;
    padding: 15px;
}

.item-a {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
}

.item-a .close-div {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #444444;
    fill: #444444;
}

.item-b{
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    overflow: scroll;
    flex-grow: 1;
    padding: 0 20px;
}

.item-b .content {
    width: 700px;
    height: 100%;
    padding: 30px 0;
}
  
.input-group {
    margin-top: 10px;
}
  
.input-group input {
    margin-top: 5px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.center-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
}

.item-c {
    border-top: solid 1px #e2dfdf;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding:20px;
}

.error-style{
    font-size: 12px;
    color: #9c0909;
    margin-top: 5px;
    white-space: nowrap;
    width:100%;
}

.error-border{
    box-shadow: inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15) !important;
}

.content-title{
    font-weight: 600;
    font-size: 14px;
    margin-top: 20px;
}

.editorWidth{
    width: 100%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    position: relative;
}

.theme-selector{
    height: 28px;
    line-height: 17px;
    margin-right: 10px;
    border: solid 1px #d9d9d9;
    font-size: 12px;
    width: 150px;
    padding: 5px;
}

.dockerItem{
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 10px 15px;
}

.top-layer{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 12;
    cursor: not-allowed;
}

.script-alert{
    font-size: 12px;
    background-color: #fff7f8;
    text-align: center;
    color:  #9c0909;
    padding: 10px 0;
}
.content-subtitle {
    font-weight: bold;
    font-size: 12px;
    color: gray;
  }
  select {text-transform:capitalize}
  select option{text-transform:capitalize}
  input[disabled], select[disabled], textarea[disabled] {
    background-color: #f7f7f7 !important;
    cursor:  not-allowed;
  }
  
  .loading-container{
      display:flex;
      align-items: center;
      justify-content: center;
      width:100%;
      flex-grow: 1;
  }