.container{
  display: grid;
  grid-template-columns: auto 320px 50px 320px 50px 320px auto;
  grid-template-rows: 60px auto;
}

.item-a {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color:#ffffff;
}

.item-b {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-c {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-d {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-bc {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}
.item-cd {
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 3;
  position: relative;
}

.col-title {
  font-size: 24px;
  padding: 15px 0;
  margin-top: 20px;
}
.panel {
  background-color: #ffffff;
}
.panel-title {

  padding: 15px 20px;
  border-bottom: 1px solid #eeeeee;
}
.panel-body {
  padding: 15px 20px;
}
.panel-body-bt {
  padding: 15px 20px;
  border-top: 1px solid #eeeeee;
}
.panel-footer {
  padding: 15px 20px;
  border-top: 1px solid #eeeeee;
  text-align: center;
  color: #39c3f0;
}
.select-box {
  width: 100%;
  height: 42px;
}

.select-box > select {
  width: 100%;
  height:32px;
  border: 1px solid #eeeeee;
  margin-top: 10px;
}

.select-label {
  color: #999999;
}
