<div class="main-sidebar-wrapper nano" style="height: calc(100% - 60px);">
  <div class="main-sidebar nano-content" tabindex="0">
    <div *ngIf="edge" class="summary">
      <h1>{{edge.name}}</h1>
    </div>
    <div class="meta">
      <div *ngIf="datasources.length !== 0" class="meta-item">
        <p class="info">{{datasources.length + ' Data Sources'}}</p>
      </div>
    </div>
    <div class="sidebar-group">
      <div class="sidebar-item" routerLink="./summary" routerLinkActive="selected" preserveQueryParams="true">Summary</div>
      <div class="sidebar-item" routerLink="./edgedevices" routerLinkActive="selected" preserveQueryParams="true">Edge Devices</div>
      <div class="sidebar-item" routerLink="./datasources" routerLinkActive="selected" preserveQueryParams="true">Data Sources</div>
      <div class="sidebar-item" routerLink="./alerts" routerLinkActive="selected" preserveQueryParams="true">Alerts</div>
      <div class="sidebar-item" routerLink="./metrics" routerLinkActive="selected" preserveQueryParams="true">Metrics</div>
      <div class="sidebar-item" routerLink="./settings" routerLinkActive="selected" preserveQueryParams="true">Settings</div>
    </div>
  </div>
  <div class="nano-pane" style="display: none; opacity: 1; visibility: visible;"><div class="nano-slider" style="height: 589px; transform: translate(0px, 0px);"></div></div></div>
<div class="main-sidebar-spacer"></div>

<router-outlet></router-outlet>
