.table-container {
  /* margin-top: 20px; */
}

.right-panel {
  padding: 20px;
  width: calc(100% - 240px);
  position: absolute;
  left: 240px;
}

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}
.center-item {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
}

.main-sidebar .meta::before {
  bottom: 0;
  left: 0;
  content: ' ';
  height: 1px;
  width: 30px;
  position: absolute;
  background-color: #d6dbe0;
}
.main-sidebar .meta {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.main-sidebar .meta .meta-item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: -5px;
  padding-bottom: 5px;
}

.right-panel .toolbar {
  margin-bottom: 20px;
  box-sizing: border-box;
  position: fixed;
  z-index: 9;
  background-color: #f3f5f6;
  box-shadow: 0 0 0 20px #f3f5f6;
  left: 260px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right-panel .toolbar .spacer {
  flex-grow: 2;
}
.right-panel .toolbar-spacer {
  width: 100%;
  height: 52px;
}

.bullet-list > li {
  list-style: disc;
  list-style-position: inside;
}

.disablebuttons{
  color:grey !important;
  cursor: not-allowed !important;
}
.profileFooter {
  padding: 9px 1px 8px 0;
  border-top: solid 1px #e9e9e9;
  margin-top: 10px;
  display:flex;
  justify-content: flex-end;
}