.right-panel{
    padding: 20px;
    width: calc(100% - 240px);
    position: absolute;
    left: 240px;
}

.center-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.center-item {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 30px;
}

.logsel-Container{
    width: 100%;
    height: 192px;
    border-radius: 4px;
    border: solid 1px rgba(34, 39, 46, .05);
    overflow: hidden;
    margin: 10px 0 20px 0;
    padding: 10px 0;
}

.logsel-search{
    background: #eeeeee;
    padding: 10px;
    margin-bottom: 3px;
}

.logsel-search input{
    width: 100%;
    border: solid 0px white;
    border-radius: 0px;
    background: #eeeeee;
    position: relative;
    margin-left: 25px;
}

.logsel-search input:focus{
    outline: 0;
}

.logsel-search .icon-search{
    width: 13px;
    height: 13px;
    fill: #cccccc;
    position: relative;
    top: -15px;
    margin: 0 0 -14px 2px;
}

.logitem-container{
    overflow: scroll;
    height: 114px;
}

.logsel-item{
    padding: 10px;
    border-bottom: solid 1px rgba(34, 39, 46, .05);
    display: block;
}

.table-container{
    margin-top: 20px;
}

.table-container .action a:first-child{
    margin-right: 10px;
}

td.logCollectingStatus span {
    margin-left: 5px;
}
td.logCollectingStatus{
    display:flex;
}
.disableButtons{
  color:grey !important;
  cursor: not-allowed !important;
}
.disableButtons:hover{
    text-decoration: none !important;
}

.edge-name-limit{
    max-width: 263px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    margin-right: 10px;
    white-space: nowrap
}

.log-icon{
    height: 15px; 
    width: 15px; 
    position:relative; 
    top: 3px;
}

.logitem-container-noEdges, .logitem-container-loading{
    overflow: scroll;
    height: 114px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;

}