<div class="content">
    <div *ngIf="radioValue === 'new'" class="info">A container registry profile can be added directly by entering necessary information or by using an existing cloud profile.</div>
    <div *ngIf="radioValue === 'cloud'" class="info">A docker registry profile can be created or associated with an existing cloud profile.</div>
    <div class="options">
        <nz-radio-group [(ngModel)]="radioValue" (keyup)="valueChanged()">
            <label nz-radio [nzValue]="'new'">
                <span>Add New</span>
            </label>
            <label nz-radio [nzValue]="'cloud'">
                <span>Use Existing cloud profile</span>
            </label>
        </nz-radio-group>
    </div>
    <div *ngIf="radioValue === 'cloud'" class="heading"><h4>Cloud Profile Section</h4></div>
    <div *ngIf="radioValue === 'cloud'" class="input-group">
        <div class="content-subtitle">Cloud Profile</div>
        <div>
            <select [compareWith]="compareFn" [(ngModel)]="cloud"  #c (ngModelChange)= "checkCloudType($event)" (keyup)="valueChanged()" style="width: 100%; margin-top: 5px; border: 1px solid #cccccc;">
                <option *ngFor="let c of clouds;let i=index" [ngValue]="c" [disabled]="i===0? true:''">{{c.name}}</option>
            </select>
        </div>
    </div>
    <div>
        <div  class="heading"><h4>General Information</h4></div>
        <div class="input-group">
            <div class="content-subtitle">
                Name
            </div>
            <input class="editField" *ngIf="radioValue === 'new'" type="text" [(ngModel)]="profileName" (ngModelChange)= "checkProfileNameValid('new')" (keyup)="valueChanged()" placeholder="Please enter. Must start and end with lower case alphanumeric characters. '-','.' are allowed. (e.g. 'example.com')">
            <input class="editField" *ngIf="radioValue === 'cloud'" type="text" [(ngModel)]="cloudRegProfileName"  (keyup)="valueChanged()" (ngModelChange)= "checkProfileNameValid('cloud')" placeholder="Please enter. Must start and end with lower case alphanumeric characters. '-','.' are allowed. (e.g. 'example.com')">
            <div *ngIf="(invalidContName && radioValue === 'new') || (invalidCloudName  && radioValue === 'cloud')" class='error-style'>
                Invalid Profile Name. Must start and end with lower case alphanumeric characters. '.','-' are allowed. (e.g. 'example.com').
           </div>
        </div>
        <div class="input-group">
            <div class="content-subtitle">Description</div>
            <input *ngIf="radioValue === 'new'" type="text" [(ngModel)]="profileDescp" (keyup)="valueChanged()" placeholder="Describe the purpose">
            <input *ngIf="radioValue === 'cloud'" type="text" [(ngModel)]="cloudDescp" (keyup)="valueChanged()" placeholder="Describe the purpose">
        </div>
        <div *ngIf="radioValue === 'cloud'" class="input-group">
                <div class="content-subtitle">Server</div>
                <input [ngClass] = "{'awsPlaceHolder' : showAWSUI}" type="text" [(ngModel)]="cloudServer" (keyup)="valueChanged()" [placeholder]= "showPlaceHolder()">
        </div>
        <div *ngIf="radioValue === 'new'" class="input-group">
            <div class="content-subtitle">Container Registry Host Address</div>
            <input type="text" [(ngModel)]="profileHostAddress" (keyup)="valueChanged()" placeholder="Please enter host address">
        </div>
        <div *ngIf="radioValue === 'new'" class="input-group">
            <div class="content-subtitle">Username</div>
            <input type="text" [(ngModel)]="profileUser" (keyup)="valueChanged()" placeholder="Please enter">
        </div>
        <div *ngIf="radioValue === 'new'" class="input-group">
            <div class="content-subtitle">Password</div>
            <div>
                <input type="password" *ngIf="!showPassword" (keyup)="valueChanged()" [(ngModel)]="profilePass">
                <input type="text" *ngIf="showPassword" (keyup)="valueChanged()" [(ngModel)]="profilePass">
                <label nz-checkbox [(ngModel)]="showPassword" class="password">
                    <span>{{showPassword ? 'Hide' : 'Show'}}</span>
                </label>
            </div>
        </div>
        <div *ngIf="radioValue === 'new'" class="heading"><h4>Additional Information</h4></div>
        <div class="input-group" *ngIf="radioValue === 'new'">
            <div class="content-subtitle">Email Address</div>
            <input type="email" [(ngModel)]="profileEmail" (keyup)="valueChanged()" placeholder="Please enter">
        </div>
    </div>
</div>