<div class="create-edge-popup-container">
  <div class="item-a">
    <div class="popup-title">{{edgeId !== null ? 'Update Edge' : 'Add Edge'}}</div>
    <div (click)="onClosePopup()" class="icon-star close-div">
      <i class="fulldetail-close-button" title="Back">
        <svg viewBox="0 792 2048 2048" class="svg-icon  -id-K">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#K"></use>
        </svg>
      </i>
    </div>
    <nz-alert  *ngIf ="_sherlockRole===''" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
          <span  alert-body>
              <pre>Read-only for Projects Users.</pre>
          </span>
    </nz-alert> 
    <nz-alert  *ngIf ="_sherlockRole !=='' && context === 'project'" [nzType]="'warning'" [nzCloseable]="true" (nzOnClose)="onCloseAlert()" nzShowIcon>
        <span  alert-body>
            <pre>Read-only.</pre>
        </span>
  </nz-alert>   
  </div>
  <div class="item-b">
    <div class="content">
      <div class="input-group">
        <div lass="content-subtitle">
          Name
        </div>
        <input [disabled]="context === 'project' || _sherlockRole === ''" type="text" [(ngModel)]="edgeName" (ngModelChange)="checkDuplicates(edgeName)" placeholder="e.g. MyEdge. Please use [1-9,a-z,A-Z,' ','_']" [ngClass]="{'error-border': duplicateEdgeFound}">
        <div *ngIf="duplicateEdgeFound" class='error-style' style="margin: 5px 0 5px 10px;">
          Name already exists. Please enter a new Name.
        </div>
        <div *ngIf="invalidEdgeName" class='error-style' style="margin: 5px 0 5px 10px;">
         Invalid name. Please use [1-9,a-z,A-Z,' ','_'];
        </div>
      </div>

      <div class="input-group">
        <div class="content-subtitle">Serial Number</div>
        <input [disabled]="context === 'project' || _sherlockRole === ''" type="text" [(ngModel)]="edgeSerialNumber">
      </div>

      <div class="input-group">
        <div class="content-subtitle">IP Address</div>
        <div [ngClass] = "context === 'project' || _sherlockRole === '' ? 'disableinputs' : ''" class="ip-input" type="text" [ngStyle]="{'box-shadow': edgeIP1.error || edgeIP2.error || edgeIP3.error || edgeIP4.error ? ' #f04134 0px 0px 0px 0px inset, rgba(34,165,247,0.15) 4px 2px 1px inset, #f04134 0px 0px 0px 1px':'none','border': edgeIP1.error || edgeIP2.error || edgeIP3.error || edgeIP4.error ? 'none' : 'solid 1px #b8bfca'}">
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="edgeIP1.num" (ngModelChange)="validateIP(edgeIP1,'ip')" type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="edgeIP2.num" (ngModelChange)="validateIP(edgeIP2,'ip')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="edgeIP3.num" (ngModelChange)="validateIP(edgeIP3,'ip')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [(ngModel)]="edgeIP4.num" (ngModelChange)="validateIP(edgeIP4,'ip')"  type="text">
        </div>
      </div>

      <div class="input-group">
        <div class="content-subtitle">Subnet Mask</div>
        <div [ngClass] = "context === 'project' || _sherlockRole === '' ? 'disableinputs' : ''" class="ip-input" type="text" [ngStyle]="{'box-shadow': subnetIP1.error || subnetIP2.error || subnetIP3.error || subnetIP4.error ? ' #f04134 0px 0px 0px 0px inset, rgba(34,165,247,0.15) 4px 2px 1px inset, #f04134 0px 0px 0px 1px':'none','border': subnetIP1.error || subnetIP2.error || subnetIP3.error || subnetIP4.error ? 'none' : 'solid 1px #b8bfca'}">
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': subnetIP2.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="subnetIP1.num" (ngModelChange)="validateIP(subnetIP1,'sub')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': subnetIP2.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="subnetIP2.num" (ngModelChange)="validateIP(subnetIP2,'sub')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': subnetIP3.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="subnetIP3.num" (ngModelChange)="validateIP(subnetIP3,'sub')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': subnetIP4.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="subnetIP4.num" (ngModelChange)="validateIP(subnetIP4,'sub')"  type="text">
        </div>
      </div>

      <div class="input-group">
        <div class="content-subtitle">Gateway</div>
        <div [ngClass] = "context === 'project' || _sherlockRole === '' ? 'disableinputs' : ''" class="ip-input" type="text" [ngStyle]="{'box-shadow': gateIP1.error || gateIP2.error || gateIP3.error || gateIP4.error ? ' #f04134 0px 0px 0px 0px inset, rgba(34,165,247,0.15) 4px 2px 1px inset, #f04134 0px 0px 0px 1px':'none','border': gateIP1.error || gateIP2.error || gateIP3.error || gateIP4.error ? 'none' : 'solid 1px #b8bfca'}">
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': gateIP1.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}"  [(ngModel)]="gateIP1.num" (ngModelChange)="validateIP(gateIP1,'gate')" type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': gateIP2.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="gateIP2.num" (ngModelChange)="validateIP(gateIP2,'gate')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': gateIP3.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="gateIP3.num" (ngModelChange)="validateIP(gateIP3,'gate')"  type="text">
          <p class="ip-subInput-dot">.</p>
          <input [disabled]="context === 'project' || _sherlockRole === ''" class="ip-subInput" [ngStyle]="{'box-shadow': gateIP4.error ? 'inset 0 0 0 1px #9c0909, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15)':'inset 0 0 0 1px #b8bfca'}" [(ngModel)]="gateIP4.num" (ngModelChange)="validateIP(gateIP4,'gate')"  type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="popup-bottom-content item-c">
    <div class="popup-footer">
      <button nz-button (click)="onClosePopup()">
        <span>Cancel</span>
      </button>
      <button *ngIf="context === 'project' || _sherlockRole === ''" nz-button (click)="onClosePopup()" [nzType]="'primary'" >
          <span>Done</span>
      </button>
      <button *ngIf="context !== 'project' && _sherlockRole !== ''" nz-button [disabled]="isCreateDisabled()" [nzType]="'primary'"  (click)="onCreateEdge()" [nzLoading]="isConfirmLoading">
        <span>{{edgeId !== null ? 'Update' : 'Add'}}</span>
      </button>
    </div>
  </div>
</div>
