.create-edge-popup-container {
  font-size: 14px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.popup-title {
  font-size: 20px;
  padding: 15px;
}

.item-a {
  width: 100%;
  border-bottom: 1px solid #e9e9e9;
}

.item-a .close-div {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: #444444;
  fill: #444444;
}

.item-b {
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  overflow: scroll;
  flex-grow: 1;
  padding: 0 20px;
}
.item-c {
  border-top: solid 1px #e2dfdf;
  width: 100%;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding:20px;

}
.item-b .content {
  width: 600px;
  height: 100%;
  padding: 30px 0;
}

.input-group {
  margin-top: 20px;
}
.input-group input {
  margin-top: 5px;
}
.content-title {
  font-weight: bold;
  font-size: 14px;
}
.content-subtitle {
  font-weight: bold;
  font-size: 12px;
  color: gray;
}
.plus-icon {
  color: #108ee9;
  margin-left: 7px;
}
.close-icon {
  color: red;
  margin-left: 7px;
}
.center-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  border-radius: 4px;
  padding: 30px;
}
.button-container {
  display: flex;
}

.notification {
  background-color: #fff1cba8;
  color: brown;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px 0 17px;
}
.error-style{
  font-size: 12px;
  color: #9c0909;
  margin: 5px 0 5px 10px;
  
}
.ip-input {
  display: flex;
  align-items: center;
  height: 32px;
  border-radius: 5px;
  margin-top:5px;
  justify-content: center;
}
.error-border{
  box-shadow: inset 0 0 0 1px #f04134, inset 0 2px 1px rgba(34,39,46,0.05), 0 0 0 0 rgba(34,165,247,0.15) !important;
}
input[disabled], select[disabled], textarea[disabled] {
  background-color: #f7f7f7 !important;
  cursor:  not-allowed;
}
.disableinputs{
  background-color: #f7f7f7;
  cursor: not-allowed;
}
input.ip-subInput {
  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  margin: 0 !important;
  height: 30px;
  text-align: center;
}

p.ip-subInput-dot {
  border: none !important;
  box-shadow: none !important;
}



