<div class="main-sidebar-wrapper nano" style="height: calc(100% - 60px);">
    <div class="main-sidebar nano-content" tabindex="0">
    <div class="summary">
      <h1>{{projectName}}</h1>
    </div>
    <div class="meta">
      <div class="meta-item">
        <p class="info">{{whichEntity !== "Summary" ? projectData.length :""}} Total {{ whichEntity}}</p>
      </div>
    </div>
    <div class="sidebar-group">
      <ul nz-menu [nzMode]="'inline'">
        <li nz-menu-item><div class="sidebar-item" routerLink="./summary" routerLinkActive="selected">Summary</div></li>
        <li nz-menu-item><div class="sidebar-item" routerLink="./alerts" routerLinkActive="selected">Alerts</div></li>
        <li  nz-submenu [nzOpen] = "_sherlockRole === '' ? true : false">
            <span title class="sidebar-item"> Code & Data</span>
            <ul class="submenu">
              <li nz-menu-item><div class="sidebar-item sub" routerLink="./applications" routerLinkActive="selected">Applications</div></li>
              <li nz-menu-item><div class="sidebar-item sub" routerLink="./datastreams" routerLinkActive="selected">Data Streams</div></li>
              <li nz-menu-item><div class="sidebar-item sub" routerLink="./scripts" routerLinkActive="selected">Scripts</div></li>
              <li nz-menu-item><div class="sidebar-item sub" routerLink="./runtime" routerLinkActive="selected">Runtime Environments</div></li>
            </ul>
        </li>
        <li [ngClass]= "_sherlockRole === ''  ? 'hideInfra' : ''" nz-submenu>
            <span title class="sidebar-item"> Infrastructure</span>
            <ul class="submenu">
                <li nz-menu-item><div class="sidebar-item sub" routerLink="./edges" routerLinkActive="selected">Edges</div></li>
                <li nz-menu-item><div class="sidebar-item sub" routerLink="./datasources" routerLinkActive="selected">Data Sources</div></li>
                <li nz-menu-item><div class="sidebar-item sub" routerLink="./users" routerLinkActive="selected">Users</div></li>
            </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="nano-pane" style="display: none; opacity: 1; visibility: visible;"><div class="nano-slider" style="height: 589px; transform: translate(0px, 0px);"></div></div></div>
<div class="main-sidebar-spacer"></div>
<router-outlet></router-outlet>
  
<div class="main-sidebar-wrapper hidden" style="height: 599px;">
  <div class="pushed-by-breadcrumbs"></div>
  <div class="main-sidebar">
    <h3>Suggestions</h3>
  </div>
</div>
