<div class="right-panel">
    <div class="toolbar" style="padding-bottom:0px;">
        <button nz-button [nzType]="'primary'"  class="editButton" style="margin-left:10px;" (click)="onClickEditApp()">
            <span>Edit</span>
        </button>
    </div>
    <div class="summary-container" *ngIf="!isLoading">
        <div class="item-1 items">
            <div class="table-container">
                <div class="header" >
                    <div><h4>Details</h4></div>
                </div>
                <table class="appStatus">
                    <tbody class="statusBody">
                        <tr>
                            <th><span>Name</span></th>
                            <td>{{appName}}</td>
                        </tr>
                        <tr>
                            <th><span>Description</span></th>
                            <td>{{appDesc}}</td>
                        </tr>
                        <tr>
                            <th><span>Total Containers</span></th>
                            <td>{{appCont.length}}</td>
                        </tr>
                        <tr>
                            <th><span>Edges Deployed</span></th>
                            <td>{{appEdges}}</td>
                        </tr>
                  </tbody>
                </table>
            </div>
        </div>
        <div class= "item-2 items">
            <div class="table-container">
                <div class="header" >
                    <div><h4>Alerts</h4></div>
                </div>
                <table class="alerts">
                    <thead>
                        <tr>
                            <th class="subhead"><span>Name</span></th>
                            <th class="subhead" ><span>Edge</span></th>
                            <th class="subhead"><span>Time</span></th>
                        </tr>
                    </thead>
                    <tbody class="alertsBody">
                        <!--<tr *ngFor="let d of data">
                            <td>{{d.name}}</td>
                            <td>{{d.status}}</td>
                            <td>{{d.alerts}}</td>
                        </tr>-->
                    </tbody>
                </table>
                <div class="emptyTable"><p>Coming Soon!!!</p></div>
                <div class="footer">
                    <div class="footer-content">
                        <p class="footer-button"><a>View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="item-3 items">
            <div class="table-container">
                <div class="header" >
                    <div><h4>Deployment status</h4></div>
                        
                </div>
                <table class="edge">
                    <thead>
                        <tr>
                            <th class="subhead"><span>Edge</span></th>
                            <th class="subhead" ><span>Container Status</span></th>
                            <th class="subhead"><span>Alerts</span></th>
                        </tr>
                    </thead>
                    <tbody  *ngIf="edges.length !== 0" class="edgeBody">
                        <tr *ngFor="let d of edges">
                            <td><nz-badge [nzStatus]="d.connected ? 'success' : 'default'"></nz-badge> {{d.name}}</td>
                            <td class="noStatus">
                                <div class="noRunningStatus" *ngIf ="!d.status && d.connected">
                                    <span>Deploying...</span>
                                    <span><nz-spin [nzSize]="'small'"></nz-spin></span>
                                </div>
                                <div class="noRunningStatus" *ngIf ="!d.connected">
                                    <span>Edge is not connected.</span>
                                </div>
                                <div *ngIf ="d.status && d.connected">
                                    <span>{{d.status}}</span>
                                </div>
                            </td>
                            <td class="edgeName">{{d.alerts}}</td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="edges.length === 0" class="emptyTable">
                        <span class="loadingSpan"><p>No Edges Data.</p></span>
                </div>
                <div class="footer">
                    <div class="footer-content">
                        <p class="footer-button"><a (click)="onClickDeployDetails()">View Details</a></p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div *ngIf="edges.length === 0 && isLoading" class="center-container">
            <nz-spin></nz-spin>
    </div>
</div>